#!/usr/bin/env ruby

compile '/feed/' do
  filter :haml
end

route '/feed/' do
  '/feed.xml'
end

compile '/assets/less/*' do
  # Note:  built-in less filter not working properly
  #        using commandline filter instead
  filter :bootstrap if @item.identifier.gsub('/assets/less/','').chop == 'bootstrap'
end

compile '/assets/css/*' do
  filter :rainpress
end

compile '/assets/js/*/' do
   # minify JS :)
   if $use_minified_js then
     filter :shellcmd, "java -jar js/js-compiler.jar"
   end
end

compile '/assets/*/' do
  # don't compile
end

route '/assets/css/*/' do
  @item.identifier.chop + '.' + @item[:extension]
end

route '/assets/js/*/' do
  @item.identifier.chop + '.' + @item[:extension]
end

route '/assets/images/*/' do
  @item.identifier.chop + '.' + @item[:extension]
end

route '/assets/less/*/' do
  # don't copy over
end

route '/posts/*' do
  @item.identifier.gsub('posts/', '') + 'index.html'
end

compile '/posts/*' do
  filter :haml
  layout 'post'
end

route '/v1/*' do
  @item.identifier + 'index.html'
end

compile '/v1/*' do
end

compile '*' do
  filter :haml
  layout 'default'
end

route '*' do
  @item.identifier + 'index.html'
end

layout '*', :erb
