---
kind: album
title: Dance Naked
artist_id: 
cover_content_type: image/png
download_content_type: 
download_file_name: 
premium: false
updated_at: 2010-10-10 21:01:07 Z
comments: true
cover_updated_at: 2010-07-04 21:32:58 Z
download_file_size: 
downloadable: true
page_background_image_file_name: 
page_background_image_file_size: 
price: 
background_image_content_type: 
css: |
  #header { z-index: 1000; position: fixed; top: 0px; left: 0px; text-align: left;}
  #header ul#nav { display: none; }
  #header ul#sushibar { display: none; }
  
  #download { position: fixed; padding: 1em; top: 0px; right: 120px; }
  #download a.modal, #comments a { font-size: 1.5em; text-decoration: none; background-color: #111; color: #fff; padding: 0.25em;}
  #download a.modal:hover, #comments a:hover { background-color: #333;  }
  #comments { padding: 1em; position: fixed; top: 0px; right: 0px; }
  #download a.modal:hover { background-color: #333;  }
  #download_overlay h3, #comments_overlay h2 { background-color: #111; }
  
  
  #facebook_share_link { position: absolute; left: 650px; top: 600px; }
  #twitter_share_link { position: absolute; left: 720px; top: 600px; }
  
  body {
  background-color: #000;
  }
  #info { display: none; }
  #player {
  width:300px;
  
  }
  #playlist_list ul li {
  margin: 0;
  padding:0;
  background-repeat: no-repeat;
  width: 960px;
  height: 960px;
  background-image: url(http://bop.fm.s3.amazonaws.com/dancenaked/background.png);
  display:none;
  font-size:0.0001em;
  color: #000;
  }
  #playlist_list ul li.playlist_current { 
  display: block;
  }
  
  
  #playlist_item_3.playlist_current { 
  
  background-position: 0px -2880px;
  }
  #playlist_item_2.playlist_current { 
  
  background-position: 0px -1920px;
  }
  #playlist_item_1.playlist_current { 
  
  background-position: 0px -960px;
  }
  #playlist_item_0.playlist_current { 
  
  background-position: 0px 0px;
  }
  #play_time, #total_time {
  display: none;
  }
  #player_controls {
  position: relative;
  left: 600px;
  top: 580px;
  margin-left: -4em;
  }
  #player_controls li {
  background-repeat: no-repeat;
  }

download_updated_at: 
published: true
share_links: true
show_cover: false
fonts: ""
subdomain: dancenaked
background_image_updated_at: 
id: 18
page_background_image_content_type: 
white_logo: false
cover_file_name: dancenaked.bop.fm-cover-2.png
cover_file_size: 122291
description: If you're heading to a house party, don't forget to pack this house music showcase.
page_background_image_updated_at: 
:songs: 
- !ruby/object:Song 
  attributes: 
    permalink: our-house
    name: Our House
    artist_id: 
    updated_at: 2010-07-04 22:37:35
    audio_file_file_name: 01_Our_House.mp3
    audio_file_file_size: "7804421"
    audio_file_content_type: audio/mp3
    album_id: "18"
    id: "55"
    audio_file_updated_at: 2010-07-04 22:37:35
    sort: 
    created_at: 2010-07-04 22:37:35
  attributes_cache: {}

- !ruby/object:Song 
  attributes: 
    permalink: yr-wrds
    name: Yr Wrds
    artist_id: 
    updated_at: 2010-07-04 22:40:38
    audio_file_file_name: 02_Yr_Wrds.mp3
    audio_file_file_size: "5404289"
    audio_file_content_type: audio/mp3
    album_id: "18"
    id: "56"
    audio_file_updated_at: 2010-07-04 22:40:38
    sort: 
    created_at: 2010-07-04 22:40:38
  attributes_cache: {}

- !ruby/object:Song 
  attributes: 
    permalink: suck-my-metal
    name: Suck My Metal
    artist_id: 
    updated_at: 2010-07-04 22:41:07
    audio_file_file_name: 03_Suck_My_Metal.mp3
    audio_file_file_size: "4579870"
    audio_file_content_type: audio/mp3
    album_id: "18"
    id: "57"
    audio_file_updated_at: 2010-07-04 22:41:07
    sort: 
    created_at: 2010-07-04 22:41:07
  attributes_cache: {}

- !ruby/object:Song 
  attributes: 
    permalink: nah-nah-nah
    name: Nah Nah Nah
    artist_id: 
    updated_at: 2010-07-04 22:41:44
    audio_file_file_name: 04_Nah_Nah_Nah.mp3
    audio_file_file_size: "4504636"
    audio_file_content_type: audio/mp3
    album_id: "18"
    id: "58"
    audio_file_updated_at: 2010-07-04 22:41:44
    sort: 
    created_at: 2010-07-04 22:41:44
  attributes_cache: {}

autoplay: false
background_image_file_name: 
background_image_file_size: 
created_at: 2010-07-04 21:33:00 Z
google_analytics_profile: UA-11893594-7
---

