---
kind: album
title: Effigy
artist_id: 
cover_content_type: image/png
download_content_type: 
download_file_name: 
premium: false
updated_at: 2010-10-10 20:59:37 Z
comments: false
cover_updated_at: 2010-08-25 00:17:42 Z
download_file_size: 
downloadable: false
page_background_image_file_name: 
page_background_image_file_size: 
price: 
background_image_content_type: image/png
css: |-
  body { background-color: #eae9e7; }
  #content { border: 1px solid #d8d8d6; }
  
  #player { margin-left: 320px; margin-top: 460px; }
  #header { z-index: 10000; position: fixed; top: 0px; left: 0px; text-align: left;}
  #header ul#nav { display: none; }
  #header ul#sushibar { display: none; }
  
  #info { display: none; }
  #playlist_list { width: 360px; }
  #player_progress { width: 70px; }
  #player_progress_play_bar { background-color: #4f0006; }
  #player_progress_load_bar { background-color: #fff; border: 1px solid #d5000c; }
  #play_time, #total_time { display: none; }
  #playlist_list li { font-family: "SF Movie Poster"; color: #ffc4c8; font-size:5.0em; padding: 0.05em 0; text-align:center; line-height: 0.65em;}
  
  #playlist_list li.playlist_current {  color: #fff; }
download_updated_at: 
published: true
share_links: false
show_cover: false
fonts: SF_Movie_Poster_400.font.js
subdomain: effigy
background_image_updated_at: 2010-08-25 00:17:42 Z
id: 20
page_background_image_content_type: 
white_logo: true
cover_file_name: effigy.bop.fm-cover.png
cover_file_size: 828102
description: "In this four-track EP, Teejay experiments with bizarre vocal patterns and dark, enchanting choruses. "
page_background_image_updated_at: 
:songs: 
- !ruby/object:Song 
  attributes: 
    permalink: around
    name: Around
    artist_id: 
    updated_at: 2010-10-03 00:26:56
    audio_file_file_name: Around.mp3
    audio_file_file_size: "8239082"
    audio_file_content_type: audio/mpeg
    album_id: "20"
    id: "69"
    audio_file_updated_at: 2010-10-03 00:26:56
    sort: "10"
    created_at: 2010-08-24 06:40:45
  attributes_cache: {}

- !ruby/object:Song 
  attributes: 
    permalink: lotus
    name: Lotus
    artist_id: 
    updated_at: 2010-10-03 00:27:36
    audio_file_file_name: Lotus.mp3
    audio_file_file_size: "7547358"
    audio_file_content_type: audio/mpeg
    album_id: "20"
    id: "70"
    audio_file_updated_at: 2010-10-03 00:27:35
    sort: "20"
    created_at: 2010-08-24 06:41:26
  attributes_cache: {}

- !ruby/object:Song 
  attributes: 
    permalink: basement
    name: Basement
    artist_id: 
    updated_at: 2010-10-03 00:28:17
    audio_file_file_name: Basement.mp3
    audio_file_file_size: "10405157"
    audio_file_content_type: audio/mpeg
    album_id: "20"
    id: "71"
    audio_file_updated_at: 2010-10-03 00:28:17
    sort: "50"
    created_at: 2010-09-04 23:31:42
  attributes_cache: {}

- !ruby/object:Song 
  attributes: 
    permalink: butterfly
    name: Butterfly
    artist_id: 
    updated_at: 2010-10-03 00:28:10
    audio_file_file_name: Butterfly.mp3
    audio_file_file_size: "6204671"
    audio_file_content_type: audio/mpeg
    album_id: "20"
    id: "72"
    audio_file_updated_at: 2010-10-03 00:28:10
    sort: "100"
    created_at: 2010-09-07 04:04:29
  attributes_cache: {}

autoplay: false
background_image_file_name: effigy.bop.fm.png
background_image_file_size: 910849
created_at: 2010-08-24 06:33:42 Z
google_analytics_profile: ""
---

