---
kind: album
title: I Sold Out But No One Bought Me
artist_id: 
cover_content_type: application/octet-stream
download_content_type: application/x-zip
download_file_name: isoldout.bop.fm.zip
premium: false
updated_at: 2010-10-10 21:01:54 Z
comments: true
cover_updated_at: 2010-08-23 17:28:11 Z
download_file_size: 55656761
downloadable: true
page_background_image_file_name: isoldout-bkg.png
page_background_image_file_size: 190571
price: 
background_image_content_type: image/png
css: |-
  #download { position: absolute; top: 190px; right: 14px; }
  #download a.modal, #comments a { font-size: 1.5em; text-decoration: none; background-color: #666; color: #fff; padding: 0.25em;}
  #download a.modal:hover, #comments a:hover { background-color: #999;  }
  #comments { position: absolute; top: 222px; right: 14px; }
  #download a.modal:hover { background-color: #999;  }
  #download_overlay h3, #comments_overlay h2 { background-color: #666; }
  body {background-color: #fff;} 
  
  #facebook_share_link { position: absolute; right: 14px; top: 254px; }
  #twitter_share_link { position: absolute; right: 79px; top: 254px; }
  #player { margin-left: 400px; margin-top: 340px; }
  #header { z-index: 10000; position: fixed; bottom: 14px; left: 14px; text-align: left;}
  #header ul#nav { display: none; }
  #header ul#sushibar { display: none; }
  
  #info { display: none; }
  #playlist_list { width: 300px; }
  #player_progress { width: 70px; }
  #player_progress_play_bar { background-color: #666; }
  #player_progress_load_bar { background-color: #fff; border: 1px solid #111; }
  #play_time, #total_time { display: none; }
  #playlist_list li { color: #000; font-size:1.75em; text-transform: uppercase; padding: 0.05em 0; text-align:center; }
  
  #playlist_list li.playlist_current { color: #666; }
download_updated_at: 2010-10-09 00:28:55 Z
published: true
share_links: true
show_cover: false
fonts: ""
subdomain: isoldout
background_image_updated_at: 2010-08-23 17:28:10 Z
id: 19
page_background_image_content_type: image/png
white_logo: false
cover_file_name: isoldout.bop.fm-cover
cover_file_size: 1150640
description: The critically-acclaimed sensational electro-rap album.
page_background_image_updated_at: 2010-08-23 17:43:30 Z
:songs: 
  - !ruby/object:Song 
    attributes: 
      permalink: shoutout
      name: (Shoutout)
      artist_id: 
      updated_at: 2010-08-19 03:25:04
      audio_file_file_name: _Shoutout_.mp3
      audio_file_file_size: "910197"
      audio_file_content_type: audio/mpeg
      album_id: "19"
      id: "67"
      audio_file_updated_at: 2010-08-19 03:25:04
      sort: "1"
      created_at: 2010-08-19 03:25:04
    attributes_cache: {}

  - !ruby/object:Song 
    attributes: 
      permalink: get-up
      name: Get Up
      artist_id: 
      updated_at: 2010-08-19 07:11:44
      audio_file_file_name: Get_Up.mp3
      audio_file_file_size: "4905882"
      audio_file_content_type: audio/mpeg
      album_id: "19"
      id: "64"
      audio_file_updated_at: 2010-08-19 07:11:44
      sort: "5"
      created_at: 2010-08-10 06:39:36
    attributes_cache: {}

  - !ruby/object:Song 
    attributes: 
      permalink: the-clurrrb
      name: The Clurrrb
      artist_id: 
      updated_at: 2010-10-11 01:47:41
      audio_file_file_name: The_Clurrrb.mp3
      audio_file_file_size: "6502492"
      audio_file_content_type: audio/mpeg
      album_id: "19"
      id: "61"
      audio_file_updated_at: 2010-10-11 01:47:41
      sort: "10"
      created_at: 2010-08-07 22:55:09
    attributes_cache: {}

  - !ruby/object:Song 
    attributes: 
      permalink: mount-rainier
      name: Mount Rainier
      artist_id: 
      updated_at: 2010-08-19 03:28:40
      audio_file_file_name: Mount_Rainier_1.mp3
      audio_file_file_size: "5069938"
      audio_file_content_type: audio/mpeg
      album_id: "19"
      id: "60"
      audio_file_updated_at: 2010-08-19 03:28:40
      sort: "20"
      created_at: 2010-08-07 07:22:55
    attributes_cache: {}

  - !ruby/object:Song 
    attributes: 
      permalink: on-the-dance-floor
      name: On The Dance Floor
      artist_id: 
      updated_at: 2010-08-19 01:53:03
      audio_file_file_name: On_The_Dance_Floor.mp3
      audio_file_file_size: "6062597"
      audio_file_content_type: audio/mpeg
      album_id: "19"
      id: "65"
      audio_file_updated_at: 2010-08-19 01:53:03
      sort: "22"
      created_at: 2010-08-11 06:45:49
    attributes_cache: {}

  - !ruby/object:Song 
    attributes: 
      permalink: hipster-chick
      name: Hipster Chick
      artist_id: 
      updated_at: 2010-08-19 01:54:24
      audio_file_file_name: Hipster_Chick.mp3
      audio_file_file_size: "7277808"
      audio_file_content_type: audio/mpeg
      album_id: "19"
      id: "63"
      audio_file_updated_at: 2010-08-19 01:54:24
      sort: "25"
      created_at: 2010-08-10 04:22:41
    attributes_cache: {}

  - !ruby/object:Song 
    attributes: 
      permalink: porno-movie
      name: Porno Movie
      artist_id: 
      updated_at: 2010-08-19 07:10:48
      audio_file_file_name: Porno_Movie.mp3
      audio_file_file_size: "4748108"
      audio_file_content_type: audio/mpeg
      album_id: "19"
      id: "66"
      audio_file_updated_at: 2010-08-19 07:10:48
      sort: "26"
      created_at: 2010-08-13 07:29:30
    attributes_cache: {}

  - !ruby/object:Song 
    attributes: 
      permalink: tits-cash
      name: Tits & Cash
      artist_id: 
      updated_at: 2010-10-08 03:57:04
      audio_file_file_name: Tits_and_Cash.mp3
      audio_file_file_size: "4996796"
      audio_file_content_type: audio/mpeg
      album_id: "19"
      id: "76"
      audio_file_updated_at: 2010-10-08 03:57:04
      sort: "28"
      created_at: 2010-10-08 03:57:04
    attributes_cache: {}

  - !ruby/object:Song 
    attributes: 
      permalink: idaho-stop
      name: Idaho Stop
      artist_id: 
      updated_at: 2010-08-08 02:51:24
      audio_file_file_name: Idaho_Stop.mp3
      audio_file_file_size: "6225593"
      audio_file_content_type: audio/mpeg
      album_id: "19"
      id: "62"
      audio_file_updated_at: 2010-08-08 02:45:15
      sort: "30"
      created_at: 2010-08-08 02:45:15
    attributes_cache: {}

  - !ruby/object:Song 
    attributes: 
      permalink: bootie
      name: Bootie
      artist_id: 
      updated_at: 2010-08-19 03:30:26
      audio_file_file_name: Bootie_2.mp3
      audio_file_file_size: "7804431"
      audio_file_content_type: audio/mpeg
      album_id: "19"
      id: "59"
      audio_file_updated_at: 2010-08-19 03:30:26
      sort: "40"
      created_at: 2010-08-07 07:21:56
    attributes_cache: {}

  - !ruby/object:Song 
    attributes: 
      permalink: sugar-cane
      name: Sugar Cane
      artist_id: 
      updated_at: 2010-08-23 18:16:32
      audio_file_file_name: Sugar_Cane.mp3
      audio_file_file_size: "4748107"
      audio_file_content_type: audio/mpeg
      album_id: "19"
      id: "68"
      audio_file_updated_at: 2010-08-23 18:16:32
      sort: "1000"
      created_at: 2010-08-23 18:16:32
    attributes_cache: {}

autoplay: false
background_image_file_name: isoldout.bop.fm-site.png
background_image_file_size: 1210723
created_at: 2010-08-07 07:18:30 Z
google_analytics_profile: UA-11893594-8
---
