---
kind: album
title: "QT\xCF\x80"
artist_id: 
cover_content_type: image/png
download_content_type: 
download_file_name: 
premium: false
updated_at: 2010-10-17 22:52:31 Z
comments: false
cover_updated_at: 2010-10-17 22:52:28 Z
download_file_size: 
downloadable: false
page_background_image_file_name: 
page_background_image_file_size: 
price: 
background_image_content_type: 
css: ""
download_updated_at: 
published: true
share_links: false
show_cover: true
fonts: ""
subdomain: qtpi
background_image_updated_at: 
id: 23
page_background_image_content_type: 
white_logo: false
cover_file_name: qtpi.png
cover_file_size: 1190360
description: ""
page_background_image_updated_at: 
:songs: 
- !ruby/object:Song 
  attributes: 
    permalink: the-issues-we-face
    name: The Issues We Face
    artist_id: 
    updated_at: 2010-10-17 17:22:06
    audio_file_file_name: The_Issues_We_Face.mp3
    audio_file_file_size: "7223456"
    audio_file_content_type: audio/mpeg
    album_id: "23"
    id: "77"
    audio_file_updated_at: 2010-10-17 17:22:06
    sort: "10"
    created_at: 2010-10-16 05:22:47
  attributes_cache: {}

- !ruby/object:Song 
  attributes: 
    permalink: the-internet
    name: The Internet
    artist_id: 
    updated_at: 2010-10-17 21:26:47
    audio_file_file_name: 02_The_Internet.mp3
    audio_file_file_size: "5875541"
    audio_file_content_type: audio/mpeg
    album_id: "23"
    id: "81"
    audio_file_updated_at: 2010-10-17 21:26:47
    sort: "12"
    created_at: 2010-10-17 21:26:47
  attributes_cache: {}

- !ruby/object:Song 
  attributes: 
    permalink: we-make-the-future
    name: We Make The Future
    artist_id: 
    updated_at: 2010-10-19 02:31:10
    audio_file_file_name: We_Make_The_Future.mp3
    audio_file_file_size: "5013497"
    audio_file_content_type: audio/mpeg
    album_id: "23"
    id: "82"
    audio_file_updated_at: 2010-10-19 02:31:10
    sort: "14"
    created_at: 2010-10-18 04:57:00
  attributes_cache: {}

- !ruby/object:Song 
  attributes: 
    permalink: qt
    name: "QT\xCF\x80"
    artist_id: 
    updated_at: 2010-10-17 17:22:56
    audio_file_file_name: QT_.mp3
    audio_file_file_size: "4994680"
    audio_file_content_type: audio/mpeg
    album_id: "23"
    id: "80"
    audio_file_updated_at: 2010-10-17 17:22:56
    sort: "15"
    created_at: 2010-10-16 09:25:24
  attributes_cache: {}

- !ruby/object:Song 
  attributes: 
    permalink: there-you-are
    name: There You Are
    artist_id: 
    updated_at: 2010-10-16 05:32:46
    audio_file_file_name: 02_There_You_Are.mp3
    audio_file_file_size: "6108554"
    audio_file_content_type: audio/mpeg
    album_id: "23"
    id: "78"
    audio_file_updated_at: 2010-10-16 05:32:46
    sort: "20"
    created_at: 2010-10-16 05:23:20
  attributes_cache: {}

autoplay: false
background_image_file_name: 
background_image_file_size: 
created_at: 2010-10-16 05:22:06 Z
google_analytics_profile: ""
---









