---
kind: album
title: Volume One
artist_id: 
cover_content_type: image/png
download_content_type: application/x-zip
download_file_name: teejayvanslykemakesmusicvolumeone.bop.fm.zip
premium: false
updated_at: 2010-10-10 21:03:38 Z
comments: false
cover_updated_at: 2009-11-29 00:23:55 Z
download_file_size: 30864672
downloadable: false
page_background_image_file_name: 
page_background_image_file_size: 
price: 
background_image_content_type: image/png
css: "  body {\r\n    font-family: Helvetica, Arial, Sans-serif;\r\n    font-size: 12px;\r\n    color: #fff;\r\n    background-color: #101010;\r\n  }\r\n\
  \r\n  ul {\r\n    margin: 0\r\n  }\r\n  ul li {\r\n    margin-left: -1em;\r\n    list-style-type: none;\r\n  }\r\n\
  \r\n\
  \r\n  #content {\r\n    width: 640px;\r\n    margin:  auto;\r\n  }\r\n\
  \r\n  #info {\r\n\
  margin-top: 120px;\r\n\
  margin-left: 150px;\r\n  }\r\n\
  \r\n  #info img,\r\n  #info p {\r\n    margin: 1.0em 2.0em;\r\n  }\r\n\
  \r\n  #info p {\r\n    font-size: 0.9em;\r\n    text-align: justify;\r\n  }\r\n\
  \r\n  #player {\r\n\
  margin-top: 130px;\r\n  } a { color: #fff } \r\n\
  \r\n\
  #playlist_list li.playlist_current {\r\n  color: #00b7ff;\r\n\
  }\r\n\
  #player_progress_play_bar {\r\n\
  \r\n    background-color: #00b7ff;\r\n  }   "
download_updated_at: 2010-10-09 00:15:26 Z
published: true
share_links: false
show_cover: true
fonts: ""
subdomain: teejayvanslykemakesmusicvolumeone
background_image_updated_at: 2009-12-24 17:49:40 Z
id: 5
page_background_image_content_type: 
white_logo: false
cover_file_name: teejayvanslykemakesmusic-volume1-cover.png
cover_file_size: 5702
description: Teejay VanSlyke's favorite works of 2004-2009.
page_background_image_updated_at: 
:songs: 
- !ruby/object:Song 
  attributes: 
    permalink: viograph
    name: Viograph
    artist_id: 
    updated_at: 2010-10-10 00:44:13
    audio_file_file_name: viograph.mp3
    audio_file_file_size: "3300359"
    audio_file_content_type: application/x-mp3
    album_id: "5"
    id: "15"
    audio_file_updated_at: 2009-11-27 10:23:12
    sort: "0"
    created_at: 2009-11-27 10:23:12
  attributes_cache: {}

- !ruby/object:Song 
  attributes: 
    permalink: zzaj-chilled
    name: Zzaj Chilled
    artist_id: 
    updated_at: 2010-10-10 00:44:13
    audio_file_file_name: zzaj_chilled.mp3
    audio_file_file_size: "3049588"
    audio_file_content_type: application/x-mp3
    album_id: "5"
    id: "16"
    audio_file_updated_at: 2009-11-27 10:23:15
    sort: "1"
    created_at: 2009-11-27 10:23:15
  attributes_cache: {}

- !ruby/object:Song 
  attributes: 
    permalink: able-danger
    name: Able Danger
    artist_id: 
    updated_at: 2010-10-10 00:44:13
    audio_file_file_name: able_danger.mp3
    audio_file_file_size: "6096068"
    audio_file_content_type: application/x-mp3
    album_id: "5"
    id: "17"
    audio_file_updated_at: 2009-11-27 10:23:18
    sort: "2"
    created_at: 2009-11-27 10:23:18
  attributes_cache: {}

- !ruby/object:Song 
  attributes: 
    permalink: they-sold-out
    name: They Sold Out
    artist_id: 
    updated_at: 2010-10-10 00:44:13
    audio_file_file_name: they_sold_out_Rendered.mp3
    audio_file_file_size: "3779958"
    audio_file_content_type: application/x-mp3
    album_id: "5"
    id: "18"
    audio_file_updated_at: 2009-11-27 10:23:42
    sort: "3"
    created_at: 2009-11-27 10:23:42
  attributes_cache: {}

- !ruby/object:Song 
  attributes: 
    permalink: sex-metaphors
    name: Sex Metaphors
    artist_id: 
    updated_at: 2010-10-10 00:44:13
    audio_file_file_name: Sex_Metaphors.mp3
    audio_file_file_size: "3171319"
    audio_file_content_type: application/x-mp3
    album_id: "5"
    id: "19"
    audio_file_updated_at: 2009-11-27 10:23:56
    sort: "4"
    created_at: 2009-11-27 10:23:56
  attributes_cache: {}

- !ruby/object:Song 
  attributes: 
    permalink: the-internet-music-business
    name: The Internet Music Business
    artist_id: 
    updated_at: 2010-10-10 00:44:14
    audio_file_file_name: The_Internet_Music_Business.mp3
    audio_file_file_size: "8618904"
    audio_file_content_type: application/x-mp3
    album_id: "5"
    id: "20"
    audio_file_updated_at: 2009-11-27 10:24:09
    sort: "5"
    created_at: 2009-11-27 10:24:09
  attributes_cache: {}

- !ruby/object:Song 
  attributes: 
    permalink: teacher-teacher
    name: Teacher, Teacher!
    artist_id: 
    updated_at: 2010-10-10 00:44:14
    audio_file_file_name: Teacher_Teacher_.mp3
    audio_file_file_size: "4296168"
    audio_file_content_type: application/x-mp3
    album_id: "5"
    id: "21"
    audio_file_updated_at: 2009-11-27 10:24:41
    sort: "6"
    created_at: 2009-11-27 10:24:41
  attributes_cache: {}

autoplay: false
background_image_file_name: teejayvanslykemakesmusic-bkg.png
background_image_file_size: 171652
created_at: 2009-11-27 10:23:11 Z
google_analytics_profile: UA-11893594-4
---
