---
kind: album
title: Weekend Adventures In Two Step
artist_id: 
cover_content_type: image/png
download_content_type: application/x-zip
download_file_name: weekendadventuresintwostep.bop.fm.zip
premium: false
updated_at: 2010-10-10 00:23:23 Z
comments: false
cover_updated_at: 2009-12-27 21:55:48 Z
download_file_size: 30674829
downloadable: false
page_background_image_file_name: 
page_background_image_file_size: 
price: 
background_image_content_type: image/png
css: |
  body { background-color: #000; }
  
  
  #player_container ul#player_controls, #player_progress {
  opacity:0.3;
  }
  
  #player { margin-left: 370px; margin-top: 100px; }
  
  #info { display: none; }
  #player_progress { width: 45px; }
  #playlist_list li { font-size:2em; padding: 0.25em 0; }

download_updated_at: 2010-10-09 00:17:28 Z
published: true
share_links: false
show_cover: false
fonts: ""
subdomain: weekendadventuresintwostep
background_image_updated_at: 2009-12-24 19:04:30 Z
id: 11
page_background_image_content_type: 
white_logo: false
cover_file_name: weekendadventure-cover.png
cover_file_size: 24938
description: "Weekend Adventures is a collection of Teejay's first exploration into two-step and dubstep themes. "
page_background_image_updated_at: 
:songs: 
- !ruby/object:Song 
  attributes: 
    permalink: girl
    name: Girl
    artist_id: 
    updated_at: 2009-12-21 05:25:02
    audio_file_file_name: Girl_Two_Step_.mp3
    audio_file_file_size: "9955844"
    audio_file_content_type: audio/mpg
    album_id: "11"
    id: "33"
    audio_file_updated_at: 2009-12-21 05:25:02
    sort: 
    created_at: 2009-12-21 05:25:02
  attributes_cache: {}

- !ruby/object:Song 
  attributes: 
    permalink: jump-bounce
    name: Jump & Bounce
    artist_id: 
    updated_at: 2009-12-27 21:20:14
    audio_file_file_name: Jump_and_Bounce.mp3
    audio_file_file_size: "5833699"
    audio_file_content_type: audio/mpg
    album_id: "11"
    id: "34"
    audio_file_updated_at: 2009-12-27 21:20:14
    sort: 
    created_at: 2009-12-21 05:27:41
  attributes_cache: {}

- !ruby/object:Song 
  attributes: 
    permalink: 30000-2
    name: "30,000"
    artist_id: 
    updated_at: 2009-12-21 06:35:15
    audio_file_file_name: 30_000_Two_Step_.mp3
    audio_file_file_size: "7220303"
    audio_file_content_type: audio/mpg
    album_id: "11"
    id: "35"
    audio_file_updated_at: 2009-12-21 06:35:15
    sort: 
    created_at: 2009-12-21 06:35:15
  attributes_cache: {}

- !ruby/object:Song 
  attributes: 
    permalink: way-down-low
    name: Way Down Low
    artist_id: 
    updated_at: 2010-01-06 20:54:09
    audio_file_file_name: Way_Down_Low.mp3
    audio_file_file_size: "9957931"
    audio_file_content_type: audio/mpg
    album_id: "11"
    id: "36"
    audio_file_updated_at: 2010-01-06 20:54:09
    sort: 
    created_at: 2010-01-06 20:54:09
  attributes_cache: {}

autoplay: false
background_image_file_name: weekendadventuresintwostep.bop.fm.png
background_image_file_size: 146735
created_at: 2009-12-21 05:22:02 Z
google_analytics_profile: UA-11893594-2
---

