$magenta: #F60392;
$cyan: #01AEEF;
$yellow: #FFF300;
$green: #00A550;
$red: #ED1D25;
$blue: #303393;
$background_darkness: 5%;

@mixin block($color) {
  background-color: darken($color, 10%);
  border-color: darken(darken($color, $background_darkness), 10%);
  box-shadow: 2px 2px 2px darken(darken($color, $background_darkness), 15%);

  &:hover {
    background-color: darken($color, 5%);
    border-color: darken(darken($color, $background_darkness), 5%);
    h3, p, li {
    }
  }
}

body {
  background: url(/assets/images/overlay-white.png) #F4F2F3;
  overflow: auto;
}

.wrapper {
  margin: 0 auto;
}

.block-link {
  &:hover {
    text-decoration: none;
  }
  cursor: pointer;
}

.block-container {
  clear: both;
  margin: 0 auto;
}

.block {
  width: 177px;
  float: left;
  margin: 4px;
  padding: 16px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;

  span.date, span.label {
    display: block;
    color: darken(#F8F7F7, 50%);
    font-size: 11px;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    background: inherit;
  }

  span.label.date {
    border-bottom: darken(white, 10%);
    border-radius: 0;
  }

  a {
    color: darken(#8C7E7E, 20%);
  }
  p, li, span, h4 {
    color: #8C7E7E;
    font-size: 16px;
    line-height: 24px;
  }
  h3 {
    font-size: 24px;
    font-weight: 200;
    line-height: 24px;
    color: darken(#8C7E7E, 20%);
  }

  h4 {
    font-weight: 400;
  }
  span.date {
    padding: 0;
    opacity: 0.75;
  }
  pre {
    border-radius: 0;
    border-color: darken(#f8f7f7, 10%);
    border-bottom-width: 2px;
    background-color: #F8F7F7;
    overflow: auto;
    color: #8C7E7E;
    white-space: nowrap;
  }
  code {
    background-color: #F8F7F7;
    color: #8C7E7E;
  }
  &.info {
    p, li { 
      font-size: 13px;
      line-height: 24px;
    }
  }

  p, pre, h4, h3, img {
    margin: 8px 0;
  }

  background-color: #ffffff;
  border-color: darken(#ffffff, 10%);
  border-bottom-color: darken(#ffffff, 30%);
  border-bottom-width: 2px;
}

.block4, .block-title {
  cursor: default;
  width: 370px;
  img { 
    max-width: 100%;
    border-top: 1px solid #101010;
  }
  cursor: default;
  a {
    color: darken(#8C7E7E, 20%);
  }
  p, h4 { 
    text-align: justify;
    font-size: 13px;
    line-height: 24px;
  }
  li {
    text-align: justify;
    font-size: 13px;
    line-height: 24px;
    padding: 2px;
  }

  ul, ol {
    margin: 2px 16px 2px 32px;
  }

  h4 {
    color: white;
    font-size: 16px;
  }
  li p {
    margin: 0;
    padding: 0;
  }
}
.block-title {
  float: left;
  text-align: center;
  img { width: 80%; }
}
.block4, .block-fluid {
}

.title {
  text-align: center;
  margin: 24px;
  img {
    width: 80%;
  }
  overflow: hidden;
}

.post {
  img {
    border-top: 0;
  }
}

.magenta { @include block($magenta) }
.cyan { @include block($cyan) }
.green { @include block($green) }
.red { @include block($red) }
.blue { @include block($blue) }

.block16, .block-fluid  {
  h3 {
    font-size: 24px;
    line-height: 24px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
}

.block-fluid {
  .pull-right {
    margin-right: 16px;
    margin-top: 16px;
  }
  #disqus_thread {
    margin: 16px 24px;
  }
  .dsq-brlink {
    display: none;
  }
  img { width: inherit; }
}

.block .body {
  margin: 0 auto;
}
.block4 .body {
  display: block;
}






@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .wrapper {
    margin: 0;
  }
  .block {
    width: 752px;
  }
}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .wrapper {
    margin: 0;
  }
  .block {
    width: 496px;
  }
}
