$magenta: #F60392;
$cyan: #01AEEF;
$yellow: #FFF300;
$green: #00A550;
$red: #ED1D25;
$blue: #303393;
$background_darkness: 5%;

@mixin block($color) {
  background-color: darken($color, 10%);
  border-color: darken(darken($color, $background_darkness), 10%);
  box-shadow: 2px 2px 2px darken(darken($color, $background_darkness), 15%);

  &:hover {
    background-color: darken($color, 5%);
    border-color: darken(darken($color, $background_darkness), 5%);
    h3, p, li {
    }
  }
}

body {
  background: url(/assets/images/overlay.png) #111;
  overflow: auto;
}

.wrapper {
  margin: 0 auto;
}

.block-link {
  &:hover {
    text-decoration: none;
  }
  cursor: pointer;
}

.block-container {
  clear: both;
  margin: 0 auto;
}

.block {
  width: 177px;
  float: left;
  margin: 4px;
  border-radius: 4px;
  border-width: 4px;
  border-style: solid;
  background-image: url(/assets/images/overlay-50.png);
  cursor: pointer;

  span.date, span.label {
    display: block;
    color: darken(white, 10%);
    font-size: 11px;
    margin: 4px 12px;
    padding: 4px 0;
    margin-bottom: 0;
    background: inherit;
  }

  span.label.date {
    border-bottom: 1px solid #333;
    border-radius: 0;
  }

  a {
    color: white;
  }
  p, li, span, h4 {
    color: darken(white, 30%);
    font-size: 16px;
    line-height: 24px;
    padding: 4px;
  }
  h4 {
    font-weight: 400;
  }
  span.date {
    padding: 0;
    opacity: 0.75;
  }
  pre {
    margin: 8px;
    background-color: #303030;
    color: #fff;
    overflow: auto;
    white-space: nowrap;
  }
  code {
    background-color: #303030;
    color: #fff;
  }
  &.info {
    p, li { 
      line-height: 16px;
    }
  }

  background-color: darken(#303030, 5%);
  border-color: darken(darken(#303030, $background_darkness), 5%);
}

.block4, .block-title {
  cursor: default;
  width: 370px;
  h3 {
    margin-left: 4px;
    margin-top: 8px;
  }
  img { 
    max-width: 100%;
    border-top: 1px solid #101010;
  }
  cursor: default;
  a { color: white }
  p, h4 { 
    text-align: justify;
    font-size: 13px;
    line-height: 24px;
    padding: 4px;
    margin: 2px 8px;
  }

  li {
    text-align: justify;
    font-size: 13px;
    line-height: 24px;
    padding: 2px;
  }

  ul, ol {
    margin: 2px 16px 2px 32px;
  }

  h4 {
    color: white;
    font-size: 16px;
  }
  li p {
    margin: 0;
    padding: 0;
  }
}
.block-title {
  float: left;
  text-align: center;
  img { width: 80%; }
}
.block4, .block-fluid {
}

.title {
  text-align: center;
  margin: 24px;
  img {
    width: 80%;
  }
  overflow: hidden;
}

.post {
  img {
    border-top: 0;
  }
}

.magenta { @include block($magenta) }
.cyan { @include block($cyan) }
.green { @include block($green) }
.red { @include block($red) }
.blue { @include block($blue) }

.block h3 {
  font-size: 24px;
  font-weight: 200;
  line-height: 24px;
  padding: 8px;
  color: white;
}
.block16, .block-fluid  {
  h3 {
    font-size: 24px;
    line-height: 24px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
}

.block-fluid {
  .pull-right {
    margin-right: 16px;
    margin-top: 16px;
  }
  #disqus_thread {
    margin: 16px 24px;
  }
  .dsq-brlink {
    display: none;
  }
  img { width: inherit; }
}

.block .body {
  margin: 0 auto;
}
.block4 .body {
  display: block;
}
