--- 
site_name: 
title: Teejay VanSlyke
---

%section
  .row
    .span5
      %p
        %img{style: "border-radius: 4px; width: 235px", src:"/assets/images/me.jpg"}/
    .span5
      %p
        Teejay VanSlyke is a designer, developer, musician, producer, author, and 
        all-around creativity enthusiast based in Portland, Oregon. 
        Aside from his Silicon Valley startup work, he produces electronic music 
        under the alias Elias Moniker, builds minimalist, elegant web applications,
        and writes this blog.
      %p
        He currently lives and works in a tiny RV he renovated for full-time living, 
        rendering him a veritable local expert in tiny living. His book 
        <a href="http://minifybook.com">Minify</a> recounts his experiences in transitioning to 
        a tiny lifestyle.

    .span6
      = render '/partials/gutter'
