--- 
site_name: 
title: Teejay VanSlyke
---

%section
  .row
    .span5
      %p
        %img{style: "border-radius: 4px; width: 235px", src:"/assets/images/me.jpg"}/
    .span5
      %p
        Hi. I'm Teejay. I spend my time designing and developing products, whether 
        original music, an ebook, or a web application. I believe that creativity is 
        the cure for our culture's consumption-oriented condition. 

    .span6
      = render '/partials/gutter'
