--- 
site_name: 
title: Curriculum Vitae
body_class: cv
---

%section
  %h1= @item[:title]

  %h2 Professional Experience

  %h3 
    .date Feburary 2011 - present
    Ponga Tools, Inc.

  %h3
    .date Feburary 2010 - present
    Turing

  %h3
    .date September 2009 - February 2010
    PromoJam

  %h3
    .date February 2008 - May 2009
    ELC Technologies

  %h3
    .date June 2006 - February 2008
    Performance Systems Development

  %h2 Publications &amp; Grants

  %h3
    .date 2009 - present
    tjvanslyke.com

  %p Blog related to software development technologies, practices, and methods, as well as personal musings and hobby projects.

  %h3
    .date 2008
    Behavior-Driven Development with JavaScript

  %h2 Education
  %h2 Skills
