--- 
site_name: 
title: Help me park my house!
---

%section.driveway

  .scroll-block
    .centered.ginormous Hi.

  .scroll-block
    .centered.huge I'm Teejay.

  .scroll-block
    .centered.large Recently, I made the life-changing decision

  .scroll-block
    .centered.large to sell most of my belongings,

  .scroll-block
    .centered.large terminate the lease on my apartment,

  .scroll-block
    .centered.large and move into a tiny motorhome.

  .scroll-block
    .centered.large This spring and summer, I'll be traveling the United States,

  .scroll-block
    .centered.large from Portland, Oregon, to destinations known and unknown,

  .scroll-block
    .centered.huge exploring,

  .scroll-block
    .centered.huge creating,

  .scroll-block
    .centered.huge working,

  .scroll-block
    .centered.huge bicycling,

  .scroll-block
    .centered.large and meeting you&hellip;

  .scroll-block
    .centered.large &hellip; and your fabulous

  .scroll-block
    .centered.huge driveway.

  .scroll-block
    .centered.large If you'd like to host me 
  
  .scroll-block
    .centered.large for a day or a month,
  
  .scroll-block
    .centered.large for free or a fee,

  .scroll-block
    .centered.large in the woods or the city,

  .scroll-block
    .centered.large it'd be super-cool.

  .scroll-block
    .centered.contact-block.huge
      %a{href:"http://twitter.com/teejayvanslyke"}@teejayvanslyke
