--- 
site_name: 
title: Hire Teejay VanSlyke
---

.block.block4
  %h3 Hire me!

  %p  
    Hi. I'm Teejay. I've worked with companies like 
  %ul
    %li <a href="http://elctech.com">ELC Technologies</a>
    %li <a href="http://turing.com">Turing</a>
    %li <a href="http://promojam.com">PromoJam</a>
    %li <a href="http://ponga.com">Ponga</a>
    %li <a href="http://epipheo.com">Epipheo</a>
    %li <a href="http://psdept.com">PS Dept</a>
  %p
    Want to see a resume? Refer to my <a href="http://github.com/teejayvanslyke">GitHub account</a>.

  %p I am available for Ruby and JavaScript consulting. Here's a list of buzzwords I know more than a thing or two about:

  %ul
    %li Ruby on Rails
    %li Sinatra
    %li Redis
    %li Node.js
    %li Backbone.js
    %li jQuery
    %li Underscore.js
    %li CoffeeScript
    %li SASS
    %li Compass

  %p
    My current rate is 
    %span.rate $125/hr

  %p 
    <a href="mailto:vanslyke.tj+hire@gmail.com">Email me</a> to talk shop about your project. If you're 
    in Portland and love to drink coffee, let's drink some together.

