--- 
site_name: 
title: Teejay VanSlyke
---

%section 
  .row
    .span4
      = render '/partials/gutter'
    .span12
      - @site.sorted_articles.reject {|a| a[:draft]}.each do |article|
        .post
          %span.date= article[:created_at].strftime('%Y %m %d')
          %h3
            %a{:href => article.path, :title => article[:title]}= article[:title]
          .body= article.compiled_content
