--- 
site_name: 
title: Teejay VanSlyke
---

- content_for :header do
  %header.jumbotron.masthead#overview
    .inner
      .container
        %h1 Hi. I'm Teejay. I make things.
        %p I believe creativity is the cure to our society's consumer-oriented condition.

%section 
  .row
    .span12
      - @site.sorted_articles.reject {|a| a[:draft]}.each do |article|
        .post
          %h3
            %a{:href => article.path, :title => article[:title]}= article[:title]
            %span.date= article[:created_at].strftime('%Y-%m-%d %H:%M')
          .body= article.compiled_content
    .span4
      = render '/partials/gutter'
