--- 
title: Music
---

- content_for :header do
  %header.jumbotron.masthead#overview
    .inner
      .container
        %h1 Sometimes I write music. 

%section
  %ul.unstyled.albums
    - p @site.albums.first.attributes
    - @site.albums.each do |album|
      %li
        %a{:href => album.path}
          %img{:src => "http://s3.amazonaws.com/bop.fm/covers/#{album[:id]}/thumb.png"}/

