.topbar .fill {
  padding: 12px 0;
}


span.date {
  font-weight: 200;
  font-size: 1.0em;
  color: #999;
  display: block;
}

h1, h2, h3, h4, h5{
  font-weight: 200;
}
h3 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.masthead {
  background-color: #0074ae;

background:-webkit-gradient(linear,
right top, left bottom,
color-stop(0.01,#A839B2),
color-stop(0.2,#FF0071),
color-stop(0.4,#ACD030),
color-stop(0.5,#58AA00),
color-stop(0.7,#00AA78),
color-stop(0.99,#0074AE));

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004D9F', endColorstr='#049cd9', GradientType=0);
}

.jumbotron {
margin-top: 40px;
min-width: 940px;
}

.jumbotron .inner {
padding: 45px 0;
-webkit-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
-moz-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
}

.jumbotron h1 {
font-size: 54px;
line-height: 1;
text-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

.jumbotron h1, .jumbotron p {
margin-bottom: 9px;
color: white;
text-align: center;
text-shadow: 0 4px 4px rgba(0, 0, 0, .3);
text-outline: 1px 1px black;
}

section { margin-top:109px;} 

.post .body img { 
  max-width: 100%;
}

.share_url {
  height: 96px;
}
.share_url .thumbnail {
  height: 96px;
  float: left;
}

.share_url .thumbnail img {
  max-width: 96px;
}

.share_url .title,
.share_url .description {
  margin-left: 128px;
}
.share_url .title {
  font-weight: bold;
}

.share_url .description {
  color: #aaa;
}

.post {
  margin-bottom: 30px;
}

body.post .post {
  margin-top:40px;
}

body.post .gutter {
  margin-top:40px;
}

body.post .post h1,
body.album .album h1 {
  padding-top:30px;
}

.gutter img {
  max-width: 100%;
}

footer {
background-color: #EEE;
min-width: 940px;
padding: 30px 0;
text-shadow: 0 1px 0 white;
border-top: 1px solid #E5E5E5;
-webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
-moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
}

ul.albums {

}

ul.albums li {
  float: left;
  padding-right: 28px;
  height: 180px;
}



.nav li {
  font-size: 2em;
}


ol.tracklist {
  border: 1px solid #DDD;
  border-collapse: separate;
  -webkit-border-radius: 4px;
  list-style-type: none;
}

ol.tracklist li:nth-child(odd) {
  background-color: #F9F9F9;
}

ol.tracklist li {
  line-height: 1.5em;
  font-size: 1.0em;
  padding: 10px 10px 9px;
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}

ol.tracklist li .play-button {
  cursor: pointer;
}

body.album .breadcrumb {
  padding-top: 30px;
}

