body {
  background: url(/assets/images/overlay.png) #222222;
  clear: both;
  overflow: auto; }

.block-container {
  margin: 0 auto; }

.block {
  width: 177px;
  height: 177px;
  float: left;
  margin: 4px;
  border-radius: 8px;
  border-width: 4px;
  border-style: solid;
  overflow: auto;
  border-color: #303030;
  background-color: #171717;
  background-image: url(/assets/images/overlay-50.png);
  cursor: pointer; }
  .block p {
    color: white; }

.block4 {
  cursor: default;
  width: 370px;
  height: 370px; }
  .block4 p {
    color: #e3e3e3; }
  .block4 img {
    width: 100%; }

.block16, .block-fluid {
  cursor: default;
  width: 756px;
  height: 756px; }
  .block16 p, .block-fluid p {
    color: #e3e3e3; }
  .block16 img, .block-fluid img {
    width: 100%; }

.block-fluid {
  margin: 16px;
  width: inherit;
  height: inherit; }

.title {
  overflow: hidden; }
  .title img {
    width: 100%; }

.magenta {
  border-color: #f60392;
  background-color: #c40274; }

.cyan {
  border-color: #01aeef;
  background-color: #0189bc; }

.yellow {
  border-color: #fff300;
  background-color: #ccc200; }

.green {
  border-color: #00a550;
  background-color: #007237; }

.red {
  border-color: #ed1d25;
  background-color: #c71017; }

.blue {
  border-color: #303393;
  background-color: #2a2c80; }

.block h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding: 16px 16px 0 16px;
  color: white; }

.block p {
  font-size: 12px;
  line-height: 16px;
  padding: 12px 16px 0 16px; }

.block16 h3, .block-fluid h3 {
  font-size: 24px;
  line-height: 24px; }
.block16 p, .block-fluid p {
  font-size: 16px;
  line-height: 24px; }

.block-fluid .pull-right {
  margin-right: 16px;
  margin-top: 16px; }
.block-fluid #disqus_thread {
  margin: 16px; }
.block-fluid .dsq-brlink {
  display: none; }
.block-fluid img {
  width: inherit; }

.block:hover .back {
  display: block; }

.block .back {
  display: none; }

.block:hover .front {
  display: none; }

.block .front {
  display: block; }

h3 span.date {
  display: block;
  font-size: 0.5em; }
