body {
  background: url(/assets/images/overlay.png) #111111;
  overflow: auto; }

.wrapper {
  margin: 0 auto; }

.block-container {
  clear: both;
  margin: 0 auto; }

.block {
  width: 177px;
  float: left;
  margin: 4px;
  border-radius: 8px;
  border-width: 4px;
  border-style: solid;
  background-image: url(/assets/images/overlay-50.png);
  cursor: pointer;
  background-color: #232323;
  border-color: #171717; }
  .block span.date {
    display: block;
    color: white;
    font-size: 11px;
    margin: 4px 8px;
    margin-bottom: 0; }
  .block a {
    color: white; }
  .block p, .block li {
    color: white;
    font-size: 16px;
    line-height: 16px;
    padding: 4px; }
  .block pre {
    margin: 16px;
    background-color: #303030;
    color: #fff; }
  .block code {
    background-color: #303030;
    color: #fff; }

.block4 {
  cursor: default;
  width: 370px; }
  .block4 p {
    color: #e3e3e3; }
  .block4 img {
    width: 100%; }

.block4, .block-fluid {
  cursor: default; }
  .block4 a, .block-fluid a {
    color: white; }
  .block4 p, .block4 li, .block-fluid p, .block-fluid li {
    margin: 16px;
    color: #b0b0b0; }
  .block4 h3, .block-fluid h3 {
    margin: 16px; }
  .block4 img, .block-fluid img {
    max-width: 100%; }

.block-fluid {
  margin: 16px;
  width: inherit;
  height: inherit; }

.title {
  overflow: hidden; }
  .title img {
    width: 100%; }

.magenta {
  background-color: #c40274;
  border-color: #aa0265; }
  .magenta:hover {
    background-color: #dd0383;
    border-color: #c40274; }

.cyan {
  background-color: #0189bc;
  border-color: #0177a3; }
  .cyan:hover {
    background-color: #019cd6;
    border-color: #0189bc; }

.green {
  background-color: #007237;
  border-color: #00592b; }
  .green:hover {
    background-color: #008b44;
    border-color: #007237; }

.red {
  background-color: #c71017;
  border-color: #b00e14; }
  .red:hover {
    background-color: #df121a;
    border-color: #c71017; }

.blue {
  background-color: #23266d;
  border-color: #1d1f59; }
  .blue:hover {
    background-color: #2a2c80;
    border-color: #23266d; }

.block h3 {
  font-size: 24px;
  font-weight: 200;
  line-height: 24px;
  padding: 8px;
  color: white; }

.block16 h3, .block-fluid h3 {
  font-size: 24px;
  line-height: 24px; }
.block16 p, .block-fluid p {
  font-size: 16px;
  line-height: 24px; }

.block-fluid .pull-right {
  margin-right: 16px;
  margin-top: 16px; }
.block-fluid #disqus_thread {
  margin: 16px 24px; }
.block-fluid .dsq-brlink {
  display: none; }
.block-fluid img {
  width: inherit; }

.block .back {
  display: none; }

.block .front {
  display: block; }
