body {
  background: url(/assets/images/overlay.png) #111111;
  overflow: auto; }

.wrapper {
  margin: 0 auto; }

.block-link {
  cursor: pointer; }
  .block-link:hover {
    text-decoration: none; }

.block-container {
  clear: both;
  margin: 0 auto; }

.block {
  width: 177px;
  float: left;
  margin: 4px;
  border-radius: 4px;
  border-width: 4px;
  border-style: solid;
  background-image: url(/assets/images/overlay-50.png);
  cursor: pointer;
  background-color: #232323;
  border-color: #171717; }
  .block span.date, .block span.label {
    display: block;
    color: #e6e6e6;
    font-size: 11px;
    margin: 4px 12px;
    padding: 4px 0;
    margin-bottom: 0;
    background: inherit; }
  .block span.label.date {
    border-bottom: 1px solid #333;
    border-radius: 0; }
  .block a {
    color: white; }
  .block p, .block li, .block span, .block h4 {
    color: #b3b3b3;
    font-size: 16px;
    line-height: 24px;
    padding: 4px; }
  .block h4 {
    font-weight: 400; }
  .block span.date {
    padding: 0;
    opacity: 0.75; }
  .block pre {
    margin: 8px;
    background-color: #303030;
    color: #fff;
    overflow: auto;
    white-space: nowrap; }
  .block code {
    background-color: #303030;
    color: #fff; }
  .block.info p, .block.info li {
    line-height: 16px; }

.block4, .block-title {
  cursor: default;
  width: 370px;
  cursor: default; }
  .block4 h3, .block-title h3 {
    margin-left: 4px;
    margin-top: 8px; }
  .block4 img, .block-title img {
    max-width: 100%;
    border-top: 1px solid #101010; }
  .block4 a, .block-title a {
    color: white; }
  .block4 p, .block4 h4, .block-title p, .block-title h4 {
    text-align: justify;
    font-size: 13px;
    line-height: 24px;
    padding: 4px;
    margin: 2px 8px; }
  .block4 li, .block-title li {
    text-align: justify;
    font-size: 13px;
    line-height: 24px;
    padding: 2px; }
  .block4 ul, .block4 ol, .block-title ul, .block-title ol {
    margin: 2px 16px 2px 32px; }
  .block4 h4, .block-title h4 {
    color: white;
    font-size: 16px; }
  .block4 li p, .block-title li p {
    margin: 0;
    padding: 0; }

.block-title {
  float: left;
  text-align: center; }
  .block-title img {
    width: 80%; }

.title {
  text-align: center;
  margin: 24px;
  overflow: hidden; }
  .title img {
    width: 80%; }

.post img {
  border-top: 0; }

.magenta {
  background-color: #c40274;
  border-color: #aa0265;
  box-shadow: 2px 2px 2px #910256; }
  .magenta:hover {
    background-color: #dd0383;
    border-color: #c40274; }

.cyan {
  background-color: #0189bc;
  border-color: #0177a3;
  box-shadow: 2px 2px 2px #016489; }
  .cyan:hover {
    background-color: #019cd6;
    border-color: #0189bc; }

.green {
  background-color: #007237;
  border-color: #00592b;
  box-shadow: 2px 2px 2px #003f1f; }
  .green:hover {
    background-color: #008b44;
    border-color: #007237; }

.red {
  background-color: #c71017;
  border-color: #b00e14;
  box-shadow: 2px 2px 2px #980c11; }
  .red:hover {
    background-color: #df121a;
    border-color: #c71017; }

.blue {
  background-color: #23266d;
  border-color: #1d1f59;
  box-shadow: 2px 2px 2px #171846; }
  .blue:hover {
    background-color: #2a2c80;
    border-color: #23266d; }

.block h3 {
  font-size: 24px;
  font-weight: 200;
  line-height: 24px;
  padding: 8px;
  color: white; }

.block16 h3, .block-fluid h3 {
  font-size: 24px;
  line-height: 24px; }
.block16 p, .block-fluid p {
  font-size: 16px;
  line-height: 24px; }

.block-fluid .pull-right {
  margin-right: 16px;
  margin-top: 16px; }
.block-fluid #disqus_thread {
  margin: 16px 24px; }
.block-fluid .dsq-brlink {
  display: none; }
.block-fluid img {
  width: inherit; }

.block .body {
  margin: 0 auto; }

.block4 .body {
  display: block; }

@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .wrapper {
    margin: 0; }

  .block {
    width: 752px; } }
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .wrapper {
    margin: 0; }

  .block {
    width: 496px; } }
