<div class="block">
  <p><small>All content &copy;2011-2012 T.J. VanSlyke unless otherwise stated.</small></p>
  <p><small>
    <strong>T.J. VanSlyke</strong><br/>
    340 S Lemon Ave #6077<br/>
    Walnut, CA 91789<br/>
    (503)-564-8335<br/>
    <a href="mailto:vanslyke.tj@gmail.com">vanslyke.tj@gmail.com</a>

  </small></p>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="/assets/js/application.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8268183-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

