<div class="gutter">
  <ul class="unstyled">
    <li class="header"><a href="/about/">About</a></li>
    <li class="header">Products</li>
    <li><a href="http://minifybook.com">Minify</a></li>
    <li><a href="http://makesomethingtoday.me">Make Something Today</a></li>
    <li><a href="http://localpul.se">Localpulse</a></li>
    <li><a href="http://eliasmoniker.com">Elias Moniker: The A.K.A.</a></li>

    <li class="header">Networks</li>
    <li>
    <a href="http://twitter.com/teejayvanslyke">Twitter</a>
    </li>
    <li>
    <a href="http://facebook.com/teejayvanslyke">Facebook</a>
    </li>
    <li>
    <a href="http://github.com/teejayvanslyke">GitHub</a>
    </li>
  </ul>

</div>
