<div class="gutter">
  <ul class="unstyled">
    <li class="header"><a href="/about/">About Teejay</a></li>
    <li class="header">Products</li>
    <li>
      <a href="http://moolarb.com">Moola</a>
      <p><small>Ruby microframework for accepting credit card payments in just ten lines of code.</small></p>
    </li>
    <li>
      <a href="http://panacheicons.com">Panache!</a>
      <p><small>75 icons for use in your web or mobile project.</small></p>
    </li>
    <li>
      <a href="http://minifybook.com">Minify</a>
      <p><small>Live a happier life with less.</small></p>
    </li>
    <li>
      <a href="http://makesomethingtoday.me">Make Something Today</a>
      <p><small>Harness your inner creativity and be happier than you've ever been!</small></p>
    </li>
    <li>
      <a href="http://localpul.se">Localpulse</a>
      <p><small>A bird's-eye view of music events in Portland, Oregon.</small></p>
    </li>
    <li>
      <a href="http://eliasmoniker.com">Elias Moniker: The A.K.A.</a>
      <p><small>The acclaimed sinister debut album of Portland electronic musician Elias Moniker.</small></p>
    </li>

    <li class="header">Networks</li>
    <li>
    <a href="http://twitter.com/teejayvanslyke">Twitter</a>
    </li>
    <li>
    <a href="http://github.com/teejayvanslyke">GitHub</a>
    </li>
  </ul>

</div>
