<!DOCTYPE html>
<html lang="en">
  <%= render '/partials/default/head' %>

  <body class="album">

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/"><img src="/assets/images/logo.png"/></a>
					<%= render '/partials/default/nav'%>
        </div>
      </div>

    </div>

    <%= @item[:content_for_header] %>

    <div class="container">
      <section>
        <ul class="breadcrumb">
          <li><a href="/music/">All Albums</a> <span class="divider">/</span></li>
          <li class="active"><%= @item[:title] %></li>
        </ul>
        <div class="album">
          <div class="row">
            <div class="span6">
              <img src="<%= (@item[:cover_image_300] ? @item[:cover_image_300] : "http://s3.amazonaws.com/bop.fm/covers/#{@item[:id]}/medium.png") %>"/>

              <div class="description">
                <br/>
                <%= @item[:description] %>
              </div>
            </div>
            <div class="span10">
              <ol class="tracklist">
                <% songs = @item[:songs] %>
                <% if songs %>
                  <% songs.each do |song| %>
                  <li>
                  <%= song.attributes['name'] %>
                  <span
                    data-audio-url="<%= (song.attributes['audio_url'] ? song.attributes['audio_url'] : "http://s3.amazonaws.com/bop.fm/audio_files/#{song.attributes['id']}/original.mp3") %>" class="play-button
                    pull-right">&#x25B7;</p>
                  </li>
                  <% end %>
                <% end %>
              </ol>
            </div>
          </div>
        </div>
      </section>
    </div> <!-- /container -->

    <footer>
    <div class="container">
      <p>All content &copy;2011 T.J. VanSlyke unless otherwise stated.</p>
    </div>
    </footer>

    <div id="player"></div>

    <script type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript"
      src="/assets/js/jquery.jplayer.min.js"></script>

    <script type="text/javascript" src="/assets/js/album.js"></script>
  </body>
</html>

