<!DOCTYPE html>
<html lang="en" class="<%= item.identifier.gsub('/','') %>">
  <%= render '/partials/default/head' %>

  <body class="<%= item.identifier.gsub('/','') %>">
    <div class="logo">
      <div class="container">
        <div class="row">
          <div class="span6">
            <a href="/"><img src="/assets/images/header-460.png" width="235"/></a>
          </div>
          <div class="span10">
            <div class="slideshow">
              <div class="slides_container">
                <div>
                  <div style="height: 460px;">
                  <div class="name">Moola</div>
                  <div class="description">My Ruby microframework for accepting credit card payments in just ten lines of code.</div>
                </div>
                </div>
                <div style="background: url(http://minifybook.com/assets/images/minify-book.png); background-position: center middle;">
                  <div style="height: 460px;">
                  <div class="name">Minify</div>
                  <div class="description">minify will teach you how to take inventory of your possessions, your time, your work, and your money and streamline each to maximize your life’s experience.</div>
                </div>
                </div>
                <div style="background: url(http://makesomethingtoday.me/assets/images/right-side.png)">
                  <div style="height: 460px;">
                    <div class="name">Make Something Today</div>
                    <div class="description">Harness your inner creativity and be happier than you've ever been!</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= @item[:content_for_header] %>

    <div class="container">
      <%= yield%>
    </div> <!-- /container -->

    <%= render '/partials/footer' %>

  </body>
</html>
