<!DOCTYPE html>
<html lang="en">
  <%= render '/partials/default/head' %>
  <body class="post">

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/"><img src="/assets/images/logo.png"/></a>
					<%= render '/partials/default/nav'%>
        </div>
      </div>

    </div>

    <div class="post container">

      <h1><%= @item[:title] %></h1>

      <%= yield%>

    </div> <!-- /container -->

    <footer>
    <div class="container">
      <p>All content &copy;2011 T.J. VanSlyke unless otherwise stated.</p>
    </div>
    </footer>

  </body>
</html>
