---
kind: article
created_at: 2011-11-27 17:55:41 -0800
title: We have the capacity for renaissance
---

%p
  So frequently I find myself in awe over the tools available for content creation and 
  distribution&dash;tools which might have cost the average worker's annual salary only a decade ago. 
  The Internet has granted nearly everyone the capacity to realize and disseminate the ideas in their hearts and minds
  in a way we've never known in any culture, ever.
  
%p
  Why then, do we trend toward consumption-centric use patterns with our new technology? I consider myself prolific,
  but I still find myself checking my Facebook and Twitter feeds constantly, as if this moment of my life is 
  incomplete. We flock toward the mundane minutae of image macros and top ten lists despite their obvious irrelevance 
  to profound betterment of our lives. 

%p
  Each and every one of us has the capacity to create. What will you make today?

