---
kind: article
created_at: 2011-12-12 23:12:45 -0800
title: My inner monologue
---

%p
  So I've noticed some things about my inner monologue when reading poorly-written prose:

%ul
  %li 
    %p 
      %strong If someone misuses the word 'to' in place of 'too', my internal meter speeds up to accommodate the missing 'o'.
    %p
      %em What's up? Oh not to much.

  %li
    %p
      %strong Whenever someone writes in all capital letters, I shout the entire sentence to myself

    %p
      %em HEY TEEJAY HOW'S IT GOING? I'M GOOD LOVE AUNT SHERRY

  %li
    %p
      %strong When someone uses the possessive pronoun "your" in place of the contraction "you're," I want to give my eyeballs paper cuts with acid blotter paper.

    %p
      %em Boy I bet your glad I took that English class!

  %li
    %p
      %strong And finally, when someone does all three at once, I write blog posts like this one!

    %p
      %em YOUR REALLY GREAT AND WE SHOULD HANG OUT TO!





  
  
