---
kind: article
created_at: 2012-04-26 13:48:00 -0800
title: A holistic approach to happiness
description: How raw vegetables, present attentiveness, and exercise can change your life.
image_url: /assets/images/salad-04-26-2012.jpg
---

%p
  %img{src: @item[:image_url]}/

%p
  March was a turbulent month for my body and mind. I had just terminated the lease on my 
  apartment in Portland and was in the process of moving into a tiny RV. Every day was rendered
  more burdensome by persistent rain, gloomy skies, and an unnerving sense that the rabbit hole 
  of my anguish would burrow ever-deeper.

%p
  And so, I set out on the open road in a blaze of escapist glory, thinking I was destined 
  to find happiness outside myself. At first, the distraction of the road combined with the 
  glimmer of sunshine provided me with the fulfillment I so craved. But, as with all stints of 
  pleasure, it was short-lived and transient.

%p
  When I returned to Portland, I sought to properly investigate the source of my anguish. 
  Why did I find myself in a constant state of yearning and escapism? It wasn't my friends, nor 
  my surroundings, nor the weather, nor my work. I had tailored each of those to my liking--moreso
  than for most people have the opportunity or will. If none of those things, then <em>what</em>?

.pull-right
  <iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=FFFFFF&IS2=1&bg1=FFFFFF&fc1=000000&lc1=00438A&t=tjva-20&o=1&p=8&l=as1&m=amazon&f=ifr&ref=tf_til&asins=B0053ZHZI2" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

%p
  Fast-forward to this weekend. Within a 24-hour span, I discovered a film and a book, the likes of 
  which would change my life. The film is the recently released, critically-acclaimed <em>Forks Over Knives</em>. 
  In it, the documentarian examines <em>The China Study</em>, the famed 2004 book examining the relationship between 
  the consumption of animal products and illness, in the context of the Western diet. 

%p 
  I was well-aware my diet wasn't optimal, but I knew my attentiveness toward what I put in my gullet was more than 
  most Americans, so I thought little of it. But when I realized that certain foods, in adequate daily quantities, could 
  reverse diseases like cancer, multiple sclerosis, and coronary artery disease, I was astonished and sought to completely 
  revamp my diet to meet and exceed those criteria. 

%p
  <em>Forks Over Knives</em> evangelizes a strict vegan diet and claims meat, dairy, and even fish are not necessary for, and 
  often detrimental to, a healthy, disease-preventitive diet. Being a curious little bugger, I never let one driver steer me 
  down the street. After all, veganism is generally regarded as a veritable tightrope walk to get adequate levels of B vitamins,
  and essential amino acids. Dr. Terry Wahls, a now-recovering multiple sclerosis patient, gave a <a href="http://www.youtube.com/KLjgBLwH3Wc">TED talk</a> detailing the diet 
  she used to kickstart her brain and find her way out of a wheelchair and walking again.

%p
  Now, rather than eating out for two or more meals per day, I go to the grocery store shortly after waking up each morning, 
  buy a bunch of dark leafy greens, one colored vegetable, one bunch of herbs, two pieces of fruit, and a bag of seeds or 
  nuts of my choosing. All of this becomes the basis for two heaping servings of raw salad. You probably think I'm malnourished, 
  but I've never felt so alert and alive. My craving for &quot;mood enhancers&quot; like caffeine, alcohol and cannabis have
  diminished substantially, almost to the point where I find their use to yield a net negative effect.

%p Okay, so I've got my body on the path to proper nourishment. On to my spirit...

.pull-right
  <iframe src="http://rcm.amazon.com/e/cm?t=tjva-20&o=1&p=8&l=as1&asins=1577314808&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=00438A&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

%p
  Enter <em>The Power of Now</em> by Eckart Tolle. Typically I don't gravitate toward mainstream 
  bestsellers as the source for great inspiration, but there are always exceptions. This is a big one. Tolle 
  has re-taught me the duality of being and self, a distinction I hadn't forgotten but one I had certainly 
  neglected in my daily life. Whenever I find myself becoming anxious, fearful, or stressed, I focus my 
  attention to the beauty of the moment I'm living. After all, the past and future only exist as recollections 
  and projections in our minds. 

%p 
  This led to another realization, the likes of which Tolle couldn't have discussed in his 1999 book but stares 
  me straight in the face in our twenty-first century age. If past and future are mere products of ego, if self and identity 
  are ailments of our own making, then what does social media represent in that context? The ultimate manifestation 
  of our egos in digital form? Are all the texts, tweets, status updates, and constant social noise causing us 
  anxiety of which we're hardly aware? Does the comment I receive on my Facebook post, pushed straight to my phone 
  and ready for my consumption the instant it is published, the most iconic example of <em>non</em>-presence, 
  <em>non</em>-attentiveness, and unconscious living imaginable?

%p
  <strong>tl;dr</strong> Eat your fucking vegetables and be here now.


