---
kind: article
created_at: 2012-04-26 13:48:00 -0800
title: A holistic approach to happiness
description: How raw vegetables, present attentiveness, and exercise can change your life.
draft: true
---

%p
  March was a turbulent month for my body and mind. I had just terminated the lease on my 
  apartment in Portland and was in the process of moving into a tiny RV. Every day was rendered
  more burdensome by persistent rain, gloomy skies, and an unnerving sense that the rabbit hole 
  of my anguish would burrow ever-deeper.

%p
  And so, I set out on the open road in a blaze of escapist glory, thinking I was destined 
  to find happiness outside myself. At first, the distraction of the road combined with the 
  glimmer of sunshine provided me with the fulfillment I so craved. But, as with all stints of 
  pleasure, it was short-lived and transient.

%p
  When I returned to Portland, I sought to properly investigate the source of my anguish. 
  Why did I find myself in a constant state of yearning and escapism? It wasn't my friends, nor 
  my surroundings, nor the weather, nor my work. I had tailored each of those to my liking--moreso
  than for most people have the opportunity or will. If none of those things, then <em>what</em>?

.pull-right
  <iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=FFFFFF&IS2=1&bg1=FFFFFF&fc1=000000&lc1=00438A&t=tjva-20&o=1&p=8&l=as1&m=amazon&f=ifr&ref=tf_til&asins=B0053ZHZI2" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

%p
  Fast-forward to this weekend. Within a 24-hour span, I discovered a film and a book, the likes of 
  which would change my life. The film is the recently released, critically-acclaimed <em>Forks Over Knives</em>. 

.pull-right
  <iframe src="http://rcm.amazon.com/e/cm?t=tjva-20&o=1&p=8&l=as1&asins=1577314808&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=00438A&bc1=FFFFFF&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

%p
  I also read <em>The Power of Now</em> by Eckart Tolle. Typically I don't gravitate toward mainstream 
  bestsellers as the source for great inspiration, but there are always exceptions. This is a big one. 


