---
kind: article
created_at: 2012-03-21 10:32:53 -0800
title: A leak is a good excuse for bamboo.
description: My plumbing sprung a leak, so I decided it was time to gut my moldy carpets.
---

%p
  It's been raining and hovering around 40&deg;F for the past two weeks straight here in Portland. 
  As a result, my trusted land yacht (RV) has faced the plight of condensation in all its orifices. 
  And so, I figured, my wet carpet must surely be a result of it raining inside, right?

%p
  Wrong.

%p
  The plastic tubing connecting my water pump to the faucet had sprung a slow leak, and was dripping 
  water all over the inside of my kitchenette unit, down onto the carpet in front of my bed. I'd 
  impressed myself countless times with my seeming natural handyman talent (this kid deals in bits and 
  bytes typically), but this one was too much stress for me to handle.

%p
  My trusty Craigslist contractor came to the rescue, but had a caveat: The carpets needed to be ripped 
  out. With that much water seeping through to the subfloor, chances of salvaging the wood below with 
  the carpets in place were slim. And so, reluctantly, I started the process I had hoped to put off 
  until I reached sunnier pastures. It was time to go bamboo.

%p
  <iframe width="420" height="315" src="http://www.youtube.com/embed/Hn0_QVXuXuk?wmode=transparent" frameborder="0" allowfullscreen></iframe>

%h4 Wood Jerry! Wood!

%p
  At the inception of my <a href="/a-grand-lifestyle-experiment">grand lifestyle experiment</a>, I decided 
  I wanted to remodel most of my RV with gorgeous hardwoods from <a href="http://bamboorevolution.com">Bamboo Revolution</a>. 
  Their work is most prominent in the interior of <a href="http://coava.myshopify.com">Coava Roasters</a>, 
  with which they happen to share a space. When I saw it, I fell in love.

%p
  The installation is still a work in progress, but I have a hunch the improvement will be night and day.
  I don't know what kind of masochist wants carpet installed in their home, but I'm glad to make a swift exit
  from that club.

