---
kind: article
created_at: 2011-11-26 17:09:09 -0800
title: Thanksgiving week link roundup
draft: true
---

= share_url 'http://www.guardian.co.uk/commentisfree/cifamerica/2011/nov/25/shocking-truth-about-crackdown-occupy?fb=optOut'
= share_url 'http://seattletimes.nwsource.com/html/nationworld/2016859604_walmart26.html'

