---
kind: article
created_at: 2012-04-10 21:45:14 -0800
title: Affluence, transience and identity
description: How living in a vehicle has transformed my understanding of homelessness, vagrance, and made me more aware of our forced consumption habits.
---

%p
  I've been living out of my tiny RV for two months. My comfort level with the 
  arrangement is growing steadily, to the point where I almost always get a good 
  night's sleep in my vehicle. But there's still a nagging uncertainty amidst my 
  gratification that I'll be caught and prosecuted for my behavior, the likes of 
  which bears no harm upon others and has <em>less</em> of an environmental impact 
  than a normal, modern living arrangement. 

%p
  When I was in San Luis Obispo, I decided that its downtown core was much too alluring
  to spend my time driving between it and a campground on the outskirts of town. And so, 
  despite its illegality, I spent the night in my RV parked on the street beside a 
  law firm. I made sure my presence wouldn't upset anyone and kept my profile low. I 
  awoke peacefully and didn't have any issues.

%p
  The next morning over coffee, I executed a quick web search for &quot;RV parking
  in San Luis Obispo&quot; and came across <a href="http://www.sanluisobispo.com/2012/04/10/2023709/lawsuit-san-luis-obispo-homeless.html">this article</a>.
  Turns out, SLO has enacted an ordinance banning RV camping from their streets in 
  an effort to combat vagrantism and the drugs and violence that come with it. Yet 
  another instance of combating a problem by enacting more laws, rather than approaching 
  it with discretion and common sense.

%p
  And so, I had three options. I could continue to spend my nights on city streets 
  and risk being harassed by the police, I could find a campground on the outskirts of 
  SLO and pay $45/night for 100 square feet of cement in an area with no amenities or 
  attractions, or I could realize how unwelcome I felt and head home. I headed home. 

%p
  Here in Portland, we're constantly at odds with how to deal with homelessness and 
  vagrantism. Our downtown core is littered with their trash and our shelters have 
  lines longer than swanky brunch cafes on a late Sunday morning. And yet, we continue
  to uphold laws prohibiting camping on public grounds and ordinances prohibiting 
  long-term camping on private lots. In my short experience as a vagabond, my most striking
  observation was that my ability to be productive was drastically reduced when 
  faced with the question of where I would sleep that night. 

%p
  Now that I'm back in Portland and sitting pretty in my girlfriend's driveway while contributing
  my share of rent each month, I'm reminded that I'm still living an illegal lifestyle. 
  Because of zoning ordinances in our city and most others, I've effectively erected a 
  second domicile in a lot zoned for single-family occupancy, which if used regularly, 
  constitutes a zoning violation. Luckily, I've got a laundry list of alibis if the city
  asks any questions. &quot;This is my mobile office and I live in the house with my 
  girlfriend&quot; is what I'm sticking with for now. But the fact that I even have to 
  <em>consider</em> having an alibi for completely harmless behavior (and in a time of 
  increasing rent fees, one solution to the affordable housing problem) makes me cringe. 
  Why should it be illegal for me to occupy a perfectly suitable dwelling on private property? 

%p
  My RV lifestyle has granted me new perspective on homelessness and vagrantism.
  Despite my affluence and ability to get a hotel room or rent a house at a moment's notice, 
  my reluctance to do those things means I face many of the same problems and vulnerabilities.
  I seek to live a happy, peaceful existence and have chosen minimalism as my path. It's too 
  bad it's illegal for me to do so.

