---
kind: article
created_at: 2012-06-19 10:45:14 -0800
title: Announcing my brand new ebook series!
description: This summer, I'll be proud to release two brand new ebooks about minimalism, creativity, and happiness!
---

%p
  %a{href:"http://minifybook.com"}
    %img{style: 'border-radius: 4px', width: '270', src:"http://minifybook.com/assets/images/minify-book.png", alt:"Minify: A 21st Century Guide to Living a Happier Life with Less"}/
  %a{href:"http://makesomethingtoday.me"}
    %img{style: 'border-radius: 4px', width: '270', src:"http://makesomethingtoday.me/assets/images/cover.png", alt:"Make Something Today: Harness your Inner Creativity and Be Happier than You've Ever Been"}/
%p
  Over the past few months, I've been busy authoring two brand new lifestyle ebooks on minimalism and creativity. I'm excited 
  to share my experiences with you. Click the book covers above for more information about each!

%p
  <em>Minify</em> will teach you how to take inventory of your possessions, your time, your work, and your money and streamline each to maximize your life’s experience.

%p
  In <em>Make Something Today</em>, I provide an in-depth analysis of the positive life-changing effects of creativity on the brain. 

%p
  Both will be available this summer. Stay tuned, and subscribe to the mailing lists to stay informed!
