---
kind: article
created_at: 2012-02-03 14:18:14 -0800
title: I've been talking about it for a decade. It's time to travel the continent in a van.
draft: true
---

%p
  I have fond memories of dreaming away during my teenage youth at the prospect of one day finding a way 
  to make a living on the road. Of one day building my ideal vessel: A veritable hacker's paradise on wheels. 
  And yet, somehow I've always found a way to excuse myself from the dream's pursuit and realization.

%p
  Well not this year, damnit. That's right. In Summer 2012, I set sail on the open road in a yet-to-be-converted
  Sprinter van, equipped with most of the amenities of home and bearing one overwhelmingly novel feature no 
  condo or apartment ever could: A V6 engine and a set of wheels.

