---
kind: article
created_at: 2011-11-28 19:01:37 -0800
title: Coffehouse hipster technocrats are the linchpins of tomorrow
---

.pull-right
  <iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=FFFFFF&IS2=1&bg1=FFFFFF&fc1=000000&lc1=00438A&t=teevan-20&o=1&p=8&l=as1&m=amazon&f=ifr&ref=qf_sp_asin_til&asins=1591844096" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

%p
  My brother stumbled upon my last post, 
  <a href="/2413224cf1c6f2206c3f7156419b68a54fc67acd/">We have the capacity for renaissance</a>, 
  and suggested I read Seth Godin's book <em>Linchpin</em>. 
  Only thirty-some-odd pages into it and I'm realizing he's preaching 
  what I so-humbly prophetized five years ago: My generation's affluence 
  depends not upon employment, following, or obedience, but upon 
  self-reliance, leadership, and challenging the status quo. For the first time in 
  our industrial society, Godin proclaims, the proletariat owns the means of production.
  
%p
  In my last days of my undergraduate study, I held an internship at a small software 
  company in Ithaca, New York. When I decided to up and move across the country to Portland, 
  I was bold enough to inquire about telecommuting. They said yes.

%p
  What an exciting, new prospect! I had heard of transcriptionists and architects taking their work home with them, 
  but the idea that I could work among a team of four engineers sitting in a seat 
  3,000 miles and three timezones away seemed like a fantasy. This was in 2007 a time when VoIP was in its 
  barely-useful infancy. Source control systems were hosted on dedicated servers and lacked the social facilities 
  which make GitHub such a joy to use.

%p 
  Moving to Portland, in retrospect, was like sailing the maiden voyage of a vessel to a new world. 
  One free from the shackles of 9-5 work schedules, daily commutes, lacking office kitchen facilities, 
  distracting water cooler jabber, and most importantly, <em>showing up for work</em>.

%p
  My parents' generation was the Worker Bee Generation. Throughout my childhood,
  my parents preached higher education not as a means for academic enrichment, but 
  as a means toward gainful employment. It's not their fault they were wrong to assume 
  polite obedience and good grades would bear our generation's livings. It is our 
  responsibility to adjust our attitudes and act in accordance with our brave new economy.

%p
  We are thoughtworkers. WHereas a steel worker's hands are easily replaced by another's hands, the 
  thoughtworker's mind is irreplaceable and irreplicable. Manual and clerical labor are mere <em>facilities</em> 
  to assist creative people to realize their visions.
  
%p
  We are the new elite. We have the power to shift opinion, to automate businesses, to create and topple
  entire industries with our minds and some circuitry. And we're doing it from your neighborhood coffee shop,
  your cocktail bar, your park's picnic table, and the beach. 

%p
  That's so fucking cool.
  
