---
kind: article
created_at: 2012-06-23 13:30:00 -0800
title: Building a 24-hour startup
image_url: /assets/images/24-hour-startup-clock.jpg
description: Yesterday into this morning, I conceived, built, marketed, and made available for sale a brand new product. In this post, I'll provide insight into how I did it and hopefully give you some ideas for your own product.
---

%p
  %img{src: @item[:image_url], alt: ""}/

%p
  It's becoming easier and faster than ever to bring an idea to market. Unfortunately, 
  too many could-be entrepreneurs are busy crafting ideas that are everything to everyone 
  instead of something to someone. And, in the fervor of implementation, we become overwhelmed
  and give up altogether. Sound familiar?

%p
  This week, I launched two new products. Yes, you read that right. I <em>launched</em> two 
  products, and they're available for purchase <em>right now</em>. Both conceived, implemented, and 
  marketed in less than a week. Are they fully-featured? No, not really. Will they provide 
  value? Yes, in fact, I'm already using both myself. A product providing value already 
  in the marketplace is worth so much more than a so-called "fully featured" product years 
  into development that still has yet to find a customer.

%p
  There are a few criteria which separate 24-hour startups from their behemoth never-launched
  cousins:

%ol
  %li
    %strong Build a product you would buy yourself, and sell it at a price you'd pay.

    %p
      I cannot stress this enough. If you're your own customer, you've just eliminated months
      of market research and collaboration prior to bringing the product to market. And, if 
      you're willing to pay money for something you've built, you're more likely to execute 
      effectively and others are more likely to click 'Purchase'.

  %li
    %strong Build the minimum saleable version &dash; No more.

    %p
      Build a product that does one thing really, really well. A laundry list of features 
      is no good if all of them are implemented poorly. Build the smallest saleable component 
      of your product now, and take it to market immediately. Your customers will lead the way
      for the rest.

  %li
    %strong Build a product which, if no units are sold, can be leveraged for other products.

    %p
      When I built my <a href="http://panacheicons.com">Panache!</a> icon set product, I knew 
      the likelyhood of becoming filthy stinking rich from icons was nil. But I was tired of
      using the same old icons and glyphs for my projects and wanted to give my work a unique 
      flare. So, I outsourced their production to an <a href="http://elance.com">Elance</a> 
      freelance designer and watched as my icons poured into my inbox. As soon as I made them 
      available for sale, I immediately started in on <a href="http://moolarb.com">Moola</a> 
      and leveraged the same icons on its marketing page.
  %li
    %strong Build a product that requires minimal support and infrastructure.

    %p
      Software-as-a-service requires recurring billing infrastructure which sometimes takes 
      as long to implement and test as the core product itself. Digital products, on the other 
      hand, can be distributed using a one-off pricing model with no need for tracking 
      account payments, upgrades, or cancellations. This allows you to start charging credit 
      cards sooner rather than later.

%p
  I hope my success building microproducts will inspire you to craft your own. If you're 
  looking for a quick way to bootstrap your new microenterprise, check out 
  <a href="http://moolarb.com">Moola</a>, my Ruby web framework for accepting credit card 
  payments in just ten lines of code. It includes a Getting Started guide with instructions 
  for taking payments using <a href="http://stripe.com">Stripe</a> and deploying on 
  <a href="http://heroku.com">Heroku</a>. Good luck!
