---
kind: article
created_at: 2012-04-02 16:38:24 
title: Coastal forest bliss in Big Sur
description: I continue my southbound trip and head west to Big Sur. 
---
%p
  I awoke Sunday morning to near-freezing temperatures in the parking lot of the Walmart in Yreka, California. 
  Much to my surprise, I was the first RV to leave the lot in the morning. Armed with a fresh box of granola and 
  unfettered by the bag of garbage and rotting produce left in the parking lot trash bin, I once again headed south 
  on I-5. 
  
%p
  Snow turned to rain turned to green forests turned to barren desert, and before I knew it, I was at a truck stop 
  in the Central Valley. It amuses me that entire towns form in California with the sole purpose of providing Interstate travelers
  with amenities. Also amusing is how unfazed these desert dwellers are by living an existence which would have proven impossible only 
  a hundred years ago.

%p
  And then I crossed the California Aqueduct. This is one of those fables I was told was true, but conveniently 
  ignored. But there it was, a flowing network of oasises (oases?) feeding the fairytale city of Los Angeles, 
  transforming temperate into desert and desert into temperate. According to Wikipedia, the California Water Project 
  is the single biggest net consumer of energy in the state, despite it also being one of the largest producers. 
  I'll put this in the categories of <em>very cool</em> and <em>totally not going to last another century</em>.

%p
  I arrived in Monterey at around 5:00 pm and stopped off for some groceries; Big Sur is located on a stretch of 
  US-1 with no outlets for miles, so if I wanted to eat more than pub food I had to ensure I was well-stocked. Monterey
  immediately struck me as a place I could stand to spend some time. Small-town, coastal mentality paired with 
  a seemingly classic Californian aesthetic made it a place to which I'd like to return. 

%p
  The drive along US-1 was both arduous and one of the most beautiful experiences of my life, 
  probably second only to the last time I drove it. Last time, my vessel was a rented Mustang, and could 
  maneuver the windy, tight turns with ease. This time, it was a bit of a different story. I don't know why 
  motorists on US-1 would <em>want</em> to go faster than 25 MPH. Speeds any greater don't provide the 
  driver with an opportunity to dart their eyes westward at the coast's majesty. I must have pulled into four 
  or five lookout points along the way to let Joe American and his American Family speed by to their next 
  destination, racing as if he had to see the entirety of the California coast in only a day.

%p
  I arrived at my campsite and plugged in my land yacht as if it were a household appliance. I'm very 
  eager to have her outfitted with solar panels so I'm not reliant on 110V power. I'm convinced that 
  12V is the way of the future, and that portably powered microhomes are a means toward sustained 
  energy independence. Anyway, my stay here has cleared my head, provided me with a fresh supply of 
  oxygen, and allowed me to recharge before I plunge into the bowels of Southern California.




