---
kind: article
created_at: 2012-04-04 20:49:24 -0800
title: Cycling at Laguna Seca
description: Stocked for a few more days, I spend the day in the Laguna Seca Recreation Area working, cycling, and hiking.
---

%p
  %img{src: '/assets/images/laguna-seca-04-04-2012.jpg'}/

%p
  Winds battered the side of my van through the night, perched 
  atop a hill in Monterey County. I awoke to a rainy windshield,
  a crisp, dewey morning with a glowing potential to blossom 
  into a beautiful sunny afternoon. 

%p
  I spent Thursday and Friday working and cycling. The Laguna Seca 
  Recreation Area is home to the Mazda Laguna Seca raceway, which served 
  as a veritable road cyclist's utopia with its maze of paved and barely-traveled
  access roads around the campus. For two days, I cheerfully alternated 
  between cycling and working every few hours. I hardly spoke to a soul, but this 
  solidarity gave me new perspective.

