---
kind: article
created_at: 2012-04-03 21:38:24 -0800
title: Detour to Monterey
description: My planned southbound trip to San Luis Obispo is suddenly averted.
---

%p
  %img{src: '/assets/images/laguna-seca-04-03-2012.jpg'}/

%p
  I awoke bright and early this morning&mdash;5:30 is the earliest I've woken up voluntarily in years. 
  After committing a couple hours of work, I packed up the RV and headed out. My first stop was one of 
  two gas stations in Big Sur. And at only $5.25 per gallon, it was quite the bargain. The shopkeepers 
  had a certain rural charm and genuine friendly demeanor that I'm not sure I've experienced elswhere.

%p
  My trip was to be simple in form, but burdensome in execution. Two hours driving, according to Google Maps,
  will carry an automobile from Big Sur to San Luis Obispo. What Google <em>didn't</em> know about was the 
  rockslide and road closure I'd encounter a quarter of the way there.

%p
  US-1 runs along the perimeter of the Pacific coast. Outlets are sparse: There are stretches where one can drive 
  forty miles without encountering a road leading inland. I was on one of those very stretches when 
  I reached a &quot;Road Closed&quot; sign and a portly woman informing me (in that very same rural charm 
  and friendly demeanor) that a rock the size of a large vehicle had fallen square into the highway, and 
  that it was to be dynamited later that day.

%p
  And so, I set off in the northward direction, anxiously steering the windy, hilly intestine of the California 
  coast. Since I enjoyed my grocery shopping experience in Monterey, I figured I'd set up shop in the area for the week.
  Monterey itself is quite a lot like all the California cities I've visited: Bright, car-crowded, noisy, yet still 
  charming. I was tempted to try spending the night in my RV on a city street, but my waste tanks needed emptying 
  and I wanted to retire to a peaceful place after the day's driving and working. I worked at a local coffee shop, 
  bought enough groceries to last the rest of the week, and headed to Laguna Seca Recreation Area.

%p
  Despite sharing land with a race track, Laguna Seca is a gorgeous 
  hilltop campground with full hookups and just about the best view out your window you've ever seen. I'm very much
  looking forward to spending my workday atop a hill in the peaceful sunshine. 

