---
kind: article
created_at: 2012-06-12 19:33:53 -0800
title: Disable volume buttons on iOS using Activator
description: How to disable the volume buttons on your iPhone, iPad, or iPod Touch using Activator.
---

%p
  The other night, I stumbled while holding my iPad and knocked my volume-up button such that it now sticks, meaning the
  volume indicator is now stuck on-screen. Luckily, I devised a way to disable both volume buttons using the Cydia-based app 
  Activator.

%p
  To enable this hack, you'll need a jailbroken iOS device, the latest version of Cydia, and to have the Activator app installed.

%ol
  %li Inside Activator, tap 'Anywhere'. 
  %li Scroll to the bottom of the list to 'Volume Buttons'.
  %li Tap each item in the 'Volume Buttons' section and select 'Do Nothing'

%p
  Your volume indicator should disappear and you just saved yourself a trip to the Apple Store, or worse, the cost of a new
  iPad.



