---
kind: article
created_at: 2011-11-26 23:07:43 -0800
title: 
draft: true
---

Stoked I finally built out a new blog site! I'm going to be migrating all of my publishing here shortly and syndicating on both Facebook and Twitter. Stay tuned.
