---
kind: article
created_at: 2012-06-15 13:48:00 -0800
title: Elias Moniker MP3 download is on sale for just $4.99!
description: After months of being unavailable for purchase, I'm offering Elias Moniker's debut album for just $4.99.
image_url: http://eliasmoniker.com.s3.amazonaws.com/images/cover.png
---

%p
  %a{href: "http://eliasmoniker.com"}
    %img{src: @item[:image_url] alt:"Elias Moniker: The A.K.A."}/

%p
  I'm proud to announce that, after months of being unavailable for high-quality MP3 download, Elias Moniker's 
  debut album 'The A.K.A.' is once again available at the reduced sale price of $4.99!

%p
  For those of you unaware, I produced <em>The A.K.A.</em> in 2011. It's a sinister, dubstep-influenced record and 
  I put my heart and soul into it. Since then I've been on a bit of a musical 
  hiatus with all my other projects, but I'd love to get the album into as many ears as I can.

%p
  <a href="http://eliasmoniker.com">Get your copy today!</a>
