---
kind: article
created_at: 2012-05-19 18:39:09 -0800
title: Help me park my house!
image_url: /assets/images/help-me-park-my-house.jpg
description: I'm looking for a new place to park my tiny RV! Please share this post with anyone in Portland who might have a spare side yard, driveway, or parking spot.
---

%p
  %img{src: @item[:image_url]}/

%p
  I've decided that, based on location and other factors, I'd like to find another spot to park my 
  tiny RV in Portland. Preferably, I'd like to be somewhere within the following boundaries:

%ul
  %li
    %strong N:
    South of Killingsworth St, east of Interstate Ave, north of Tillamook St.
  %li
    %strong NE:
    South of Killingsworth St, north of Tillamook St.
  %li
    %strong SE: 
    North of Powell Blvd, west of 12th Ave, east of Cesar Chavez Blvd

%p
  All I would ask is to use your electricity (via extension cord), to shower in your bathroom, and to use 
  your laundry machines (if present). My RV is only 20'8", so it only takes up slightly more room than a
  standard parking spot. It's also downright adorable (pictured above).
%p
  Though what I'm envisioning is an arrangement as an auxiliary dwelling alongside an existing residence, 
  I'd also be open to a spot in a parking lot, etc if I were close enough to a facility for bathing.

%p
  Please spread the word! I'm willing to pay whatever the landowner or tenants think is fair. I'm quiet, 
  considerate, and clean. Thank you for your support!



