---
kind: article
created_at: 2012-03-12 10:32:53 -0800
title: I want your driveway
---

%p
  Friends, family, friends of family, family of friends: I want your driveway!

%p
  This spring and summer, I'll be trekking across our great nation in search of the American Dream, or something. 
  As much as I'll enjoy campgrounds some of the time, I'd love it if I could park my gorgeous land yacht in your 
  driveway, wherever you may be. Please comment if you'd like to host me, if only for a night! We'll figure something 
  out I'm sure.


