---
kind: article
created_at: 2012-06-15 13:49:00 -0800
title: Find out what's up tonight with Localpulse. Available for iOS.
description: It's Friday night! Find out what's going on in Portland with the Localpulse app for iPhone and iPod Touch.
image_url: http://localpul.se/images/screenshot1.png
---

%p
  You might be familiar with <a href="http://localpul.se">Localpulse</a>, my rich map of music events in Portland, Oregon. 
  Today I'm proud to announce the Localpulse iOS app.

%p
  %a{href: "http://localpul.se/ios"}
    %img{src: @item[:image_url], alt:"Localpulse for iOS"}/

%p
  Localpulse for iOS has all the features of the web application in your pocket. It's your one-stop guide to 
  what's going on <em>right now</em>. Just $1.99. You can download it today.

%p
  <a href="http://localpul.se/ios">More info</a>
