---
kind: article
created_at: 2012-07-08 17:58:09 -0800
title: Life's too short to be embarrassed
description: Too often I've found myself embarrassed to speak my mind and take action toward my goals, however unpopular they might be. Today I came to the realization that life is far too short to be embarrassed about your aspirations.
draft: true
---

%p
  I've spent a good part of my life feeling embarrassed to share my beliefs because they might be unpopular, 
  too embarrassed to ask the pretty girl out on a date, and too busy conforming my daily routine to some 
  preconceived notion of what a &quot;good day&quot; should consist of. No more!

%p
  Excellence and meaning arise from shrugging off embarrassment. Change's worst adversary is compliance. In order 
  to achieve excellence, it is necessary to 


