---
kind: article
created_at: 2012-07-14 09:41:00 -0800
title: Listen to others for fun and profit
description: Dale Carnegie, Sebastian Marshall, and mindful meditation are teaching me that listening to others' needs and desires yields more personal fortune than speaking about one's own.
---

%p.pull-right
  <iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=FFFFFF&IS2=1&bg1=FFFFFF&fc1=000000&lc1=2E31AC&t=tjva-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B006M9T8NI" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

%p
  By <a href="http://tynan.com">Tynan</a>'s recommendation, I downloaded <a href="http://sebastianmarshall.com">Sebastian Marshall</a>'s ebook <em>Ikigai</em>. 
  He poses that leading a meaningful life is a very different ambition from the all-too-commonly sought-after notion of &quot;happiness&quot;. Too often,
  according to Marshall, we seek happiness as the pinnacle of human experience, without first considering its self-involved implications.

%p.pull-left
  <iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=FFFFFF&IS2=1&bg1=FFFFFF&fc1=000000&lc1=2E3192&t=tjva-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=067142517X" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

%p
  In Ikigai, Sebastian makes several reading recommendations, one of which I took immediately. <em>How to Win Friends &amp; Influence People</em> by 
  Dale Carnegie, evidently, is a classic guide to human interpersonal relationships. Though the book is extensive and draws several practical points about 
  successful interpersonal relationships by example, it all really boils down to the Golden Rule: <em>Do unto others as you would have them do to you.</em>

%p
  What does that mean, exactly? The notion that we should treat others as we prefer to be treated is abstract and difficult to make actionable. 
  We feel most valued, most respected, and most connected when our own interests are put first. So, in order to elicit that feeling in others, 
  we need only put their concerns above ours. 

%p
  I'm on a trip to Brooklyn this week and have been using my being surrounded by eight million strangers as fodder for my social engineering exploits. So far,
  my experiments have validated Carnegie's hypotheses swimmingly. I used to have a bad habit of interrupting others mid-sentence, of concocting a retort 
  before my conversational companion had finished their thoughts. This week, I've focused on reversing that pattern.

%p
  On the plane ride here, I was seated next to a bearded fellow reading a book in Hebrew. I leaned over and asked if it was the Torah. He explained to me that
  it was actually the New Testament of the Bible. Interested, I prodded further, and he revealed to me that he was a creationist. Rather than condemn his 
  beliefs as stifling progress and disrupting scientific education, I chose to listen. And, as I listened, I realized this man was actually more intelligent 
  and more informed about science than I was. Even if I didn't leave the conversation convinced that his point of view was correct, I left it feeling 
  humbled about my own.

%p
  I've made a point to ask more questions in place of my own rhetoric. People love to talk about themselves. And, if the foundation of our lives is other 
  people, it follows that we should be fascinated and humbled by all of them one way or another. If you listen, you find that every single person you talk to 
  has something valuable to say.

%p
  And that's exactly why I advocate this approach. It's one thing to be an altruist, but that's not in our nature. What <em>is</em> in our nature is 
  to change behavior in order to obtain value. And, given that all value, whether economic, social, or political, is derived from other people, it follows 
  that we want them to value our company. It's just a matter of cherishing theirs first.

