---
kind: article
created_at: 2012-07-08 12:31:09 -0800
title: My tiny living ebook is now available for free!
image_url: http://minifybook.com/assets/images/minify-book.png
description: I'm happy to announce the release of my short ebook about my transition to living in a tiny RV. Download the PDF now for free!
---


%p
  I've just put the finishing touches on <a href="http://minifybook.com">Minify</a>, my short ebook about my transition to living in 
  a tiny RV, and am happy to announce that it's now available for free download. Some highlights:

%ul
  %li
    Curate your possessions to a Few Wonderful Things.
  %li
    Learn how living in a tiny house, apartment, or RV can save you thousands of dollars per year.
  %li
    Make delicious, nutritious meals in your simple kitchen.
  %li
    Enact simple principles to encourage tranquility in all aspects of your life.
  %li
    Practical advice for those interested in minimalism, frugal living, and tiny living alike.

%p
  Head over to the book's website to grab your copy today: <a href="http://minifybook.com">Minify: A 21st Century Guide to Living a Happier Life With Less</a>

