---
kind: article
created_at: 2012-05-28 20:54:09 -0800
title: Random acts of aggression
image_url: /assets/images/random-acts-of-aggression-05-28-2012.jpg
description: An account of my experiences having been the victim of two aggressive altercations on the streets of Portland this week.
---

%p
  %img{src: @item[:image_url]}/


%p
  The general consensus is that Portland is a relatively safe and tolerant city. Most of the time, my beliefs, 
  appearance, and behavior are tolerated and accepted by most people. Either that or they're passive-aggressively keeping
  their mouths shut. Either way, altercations rarely arise, and when they do, they're resolved swiftly 
  and peacefully.

%p
  On Sunday, May 27, 2012, at approximately 3:00 pm, my faith in those convictions was shattered as I looked 
  the fender of a speeding red convertible in the eye, contemplating, if only for a fraction of a second, the possibility
  that my life might be cut short by an unmeditated act of aggression. I was (and still am) reluctant to make the details of this incident public for my own safety, but I cannot help 
  but share a synopsis as a friendly reminder that such aggression can happen here, too.

%p
  As I approached an intersection by bicycle, two cars queued in the lane
  beside me, followed by a third. As soon as the signal turned green, I continued through. 
  The motorist in the first car stopped in order to yield to my right of way before proceeding with her right turn. I 
  continued approximately 200 feet, when I heard a loud bang from behind.

%p
  The third car, a red convertible, had rear-ended the second car. Instead of pulling off the street to exchange 
  insurance information, the red convertible proceeded to swerve out of the right lane into the left lane, pass both 
  the other cars back into the right lane, and aggressively run me off the road, his front 
  bumper well into the bicycle lane. Did he believe it to be my fault he rear-ended another car? 
  Did he just not have an insurance policy? What perverse cowardice 
  could drive someone to such aggression?

%p
  The next day, as I was walking down the sidewalk on my way to the grocery store, a teenager yelled &quot;Faggot!&quot; 
  out the window of his SUV as he sped by. Boy, he sure must have felt empowered, him and his big SUV and his homophobic 
  slurs. I wish that poor, deprived, wandering soul the best of luck, because despite his bigoted demeanor, my own 
  self-love and improvement-oriented attitude mean I'll live a happier, healthier life than the lowlife aggressor. While 
  he digs outward, I dig inward.

%p
  Aggression is the outward reflection of a person's insecurities and fears. The aggressor sees something in his victim, 
  whether it be social status, intellectual ability, self-confidence, or physical prowess, which he either lacks or believes
  he lacks. Instead of looking inward and asking how he can possess the qualities of his victim, he chooses to belittle 
  his victim's weaknesses. So, the next time you're a victim of aggression or bullying, just remember that it just means 
  your aggressor is probably wrought with insecurity and misery because your stride is just that much better than his. 
  Just don't get run over in the process.

