---
kind: article
created_at: 2012-03-28 20:31:13 
title: Reflections on a month living small
draft: true
---

%p
  It's been about a month since I began moving my life into the tiny RV I now call home. It's not 
  a stretch to say that the last month of my life is probably in my top five life-changing experiences,
  right up there with moving out of my parents' house. Never has my daily consideration shifted so much 
  in the direction of frugality and resourcefulness.
