---
kind: article
created_at: 2012-06-20 16:45:14 -0800
title: Stop Driving.
description: Cars are unegalitarian, dangerous, wasteful abominations to which there are several viable alternatives. Stop driving.
---

%p
  Today I was riding eastbound on NE Ainsworth Street, just east of NE Martin Luther King Blvd in Portland, Oregon. As I always do 
  in high-traffic situations, I remained in the middle of the lane to ensure all drivers could see me and to maintain a single 
  line of traffic to avoid any confusion about whether all cars had passed. A blue Nissan was tailing me through the intersection. 
  I planned on making a left turn on NE 7th Avenue, just a few blocks east.

%p
  The Nissan honked their horn and tailgated me aggressively. I signaled to them to slow down. They then sat on their horn until I got
  out of the way. 

%p
  Earlier today, a man in a red Chevrolet Impala was tailing me downtown, and swerved to pass on my right, an illegal maneuver in Oregon.

%p
  When you drive a car, you're operating a weapon. If you're not willing to keep behind slower traffic, even if that traffic is pedestrian,
  stop driving and choose another mode of transit. Your day is no more important than anyone else's. Streets are public places to facilitate
  the safe transit of goods and people. If either of the drivers mentioned above had been riding a bicycle, they could have passed me 
  without issue. 

%p
  I will not stand by while you drive wrecklessly through my city. I have as much right to the road as you do. Your loud, dangerous, destructive
  car is taking innocent lives and slowly shaving time off your own. You'd be well advised to stop driving altogether. I don't care what your 
  excuse is. If you commute to work, move closer or find a new job. If you have children, sell your car and buy them bicycles with the proceeds. 
  I won't listen to your excuses because I've <em>made all of them myself</em>. So shut up, do us a favor, and stop driving.

%p
  Thanks.

