---
kind: article
created_at: 2012-09-29 13:48:00 -0800
title: "Trailer Chic: My Ignite Portland talk is online!"
description: Last week, I gave a talk at Ignite Portland 11 about my experiences living in an RV. See video of the talk as well as my original slide deck with photos.
image_url: /assets/images/trailer-chic.jpg
---
%p
  For those of you who missed it, last week I gave a talk at <a href="http://igniteportland.org">Ignite Portland</a> about my experiences living 
  in an RV in Portland (fast-forward to around 15:00):

%p
  <iframe src="http://www.ustream.tv/embed/recorded/25537320" width="200" height="139" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>

And, if you'd like to download the slide deck for your own amusement, click the image below.

%p
  %a{href: "http://misc.tjvanslyke.com.s3.amazonaws.com/VanSlyke-IP11.pdf"}
    %img{src: @item[:image_url]}/


