---
kind: article
created_at: 2012-03-31 20:20:26 
title: Welcome to Walmart. Would you like some fucking chamomile?
---

%p
  %img{src: '/assets/images/walmart-parking-lot-03-31-2012.jpg', alt: 'Walmart in Yreka'}/

%p
  Today I embarked on the first leg of my journey to find America or some nice weather 
  or whatever the hell I'm looking for barrelling down Interstate 5 at a whopping 45-65 MPH 
  (my VW is a 4-cylinder; give me a break). I set my sights on the Mt. Shasta area of 
  Northern California as a reasonable stopping point, and I sought to cross one particular 
  nagging American dream off my very long bucket list. Tonight, I'm sleeping at Walmart.

%p
  So far, my experience has been nothing but&hellip;what I thought it would be. There's the overweight employees 
  and patrons, not entirely unkempt but as 'kempt' as required by Sir Sam Walton. And then 
  there's the haggard old woman waving hello to the greeter at the front door. Yreka is a 
  town of fewer than eight thousand; I suppose everyone knows your name in a place like this.

%p
  It's a bizarre feeling to drive into a Walmart parking lot and then realize you've got your 
  entire house with you. As soon as I pulled in, I cranked on the propane and put on a pot of 
  tea. Chamomile, to put me fast asleep to catch the first crack of sunlight pouring over the 
  mountain. A Walmart patron might have suggested I take some 5-Hour Energy and push through 
  till dawn, but I think I'll take their pimply-nosed complexion as a clear sign that sleep 
  is a better option.

%p
  Here's to a good night's rest.

