---
kind: article
created_at: 2012-05-19 09:25:09 -0800
title: What I've learned after three months living tiny
image_url: /assets/images/what-ive-learned-after-three-months-living-tiny.jpg
description: I've been living in a 100-square-foot RV for three months. Read about what I've learned and how I've made it a better experience than a big loft apartment.
---

%p
  %img{src: @item[:image_url]}/

%p
  It's been about three months since my girlfriend and I trekked to Beaverton by bus 
  to pick up the RV that I now call home. Since then, I've gone on a wild two-week 
  roadtrip in my own house, transformed a modest RV interior into a luxurious palace on 
  wheels, and learned so much about how to make the most of 100 square feet.

%ol

  %li
    %strong When you live in a tiny space, clutter's effects are amplified.
    When I lived in my loft apartment, weeks would go by without giving the place a 
    good decluttering. Bottles and cans from parties weeks ago would remain on my giant
    countertop. If I ate popcorn the night before, you'd likely find the remnants in my 
    giant bowl sitting on my coffee table. In the RV, most surfaces serve many purposes, 
    so there <em>simply isn't room</em> for clutter. I do my dishes within a day 
    <em>because I only have one plate.</em> Everything has its right place, and if it 
    doesn't, its misplacement will reveal itself as soon as I try to drive my house 
    away and need to find a place to stow it.

  %li
    %strong When resources are limited, you curb your usage subconsciously.
    My RV holds 20 gallons of fresh water and 19 gallons of waste, which is just enough 
    to live one week comfortably before going to the dump station. Because of this 
    inconvenience, I find myself turning off the faucet to conserve water more than I 
    did in a brick-and-mortar home. It's amusing how barbaric and selfish we actually 
    are when it comes to conservation, but I'll admit it took knowing my own supply 
    is limited before I'd make a concerted effort in curbing my usage.

  %li
    %strong My life is generally richer and more experience-driven.
    When you live in 100 square feet, you're not occupied with the temptation to buy 
    a new, swanky piece of furniture. Since I moved into the RV, I've found myself 
    more eager to leave the house to explore, since I've stripped my house of frivolty 
    and responsibility. No space for a couch means I'm less likely to vegetate during 
    the daytime. 

  %li
    %strong A small space is dirt cheap to maintain!
    When I lived in my loft apartment, I was paying $1239/mo in rent, between $20-$100 
    in electricity per month (it had electric forced air heat), and varying amounts 
    in water and sewer usage. In the RV, my monthly expenses are $100/mo for my parking 
    spot, about $25/mo for electricity, about $10/mo for propane, and $40/mo for waste 
    disposal. That puts my monthly base living expenses at $175! 

  %li 
    %strong A small space is cozy.
    My RV is just a downright pleasant place to be. Most people assume because I have 
    such a small space that I'm not comfortable. I think the opposite is true. My 
    walls are closer together. Rather than the cold, vast cavern my loft often felt like, 
    my RV feels like a small, warm cocoon. 

%p
  Okay, so you're probably thinking there <em>must</em> be some serious drawbacks to tiny 
  living. "Don't you wish you had more room once in awhile?" "Doesn't living in your car 
  get old?" "Don't you wish you had a shower in your house?" Sometimes these thoughts 
  enter my mind. But in all honesty, the feeling of self-sufficiency, resourcefulness, 
  and ingenuity I derive from this lifestyle far outweigh the drawbacks. Quite frankly, I'm
  happier than I've ever been.

%p
  %em 
    If you're interested in tiny living in an RV but don't know how to get started, drop 
    me a line! <a href="mailto:teejay.vanslyke+rv@gmail.com">teejay.vanslyke+rv@gmail.com</a>

