---
kind: article
created_at: 2012-06-22 10:28:09 -0800
title: Why I quit Facebook
image_url: /assets/images/why-i-quit-facebook-morpheus.jpeg
description: Yesterday I deleted my Facebook account. Today I'm happier than ever, despite the occasional twitch.
---

%p
  %img{src: @item[:image_url], alt: "You take the blue pill -- the story ends, you wake up in your bed and believe whatever you want to believe. You take the red pill -- you stay in Wonderland and I show you how deep the rabbit-hole goes."}/

%p
  The other day, I authored a blog post entitled <em>Stop Driving Now</em>, which was effectively an 
  angry rant fueled by the actions of aggressive motorists on my ride home that afternoon. Smugly,
  I posted it on Facebook, hoping it would attract attention. It did. I was ostracized (rightly) as
  an angry asshole. Comment after comment filled the link post until I finally decided to delete
  it. But another thing happened: I became consumed with the opinions of my peers. I had a hard time
  sleeping that night because I knew that my post had offended someone. And it was far from the 
  first time this had happened.

%p 
  A few weeks earlier, I encountered a post by an acquaintance thinking of joining the Marines. 
  Being in staunch opposition to joining the military as a career choice, I voiced my concern 
  with hope that I might change her mind. After all, the opinion of a relative stranger 
  couldn't hurt, could it?

%p
  It could. An hour and 30 comments later, I had alienated myself from people I hadn't even 
  met. Despite never having shared an experience to substantiate resistance, I created a 
  situation which left everyone feeling exhausted and vulnerable.

%p
  Social media is my generation's sitcoms. Replace Jerry, Elaine, George and Kramer with four 
  people you met at a bar a year ago, and you've effectively captured the level of triviality 
  our Facebook feeds provide us. Even seemingly noble pursuits, whether the <a href="http://newsfeed.time.com/2012/06/03/anti-gay-group-slams-jcpenneys-over-fathers-day-ad/">JCPenney fathers day</a>
  ad or the <a href="http://arstechnica.com/tech-policy/2012/06/angry-internet-lawyer-sues-the-oatmeal-bears-and-cancer-research/">Oatmeal fundraiser</a>, 
  have no bearing on the life we lead outside of Facebook and are better digested outside a 
  public forum.

%p
  I've chosen to take the red pill and see how deep the rabbit hole of real life goes. 
  See you on the other side.

%p
  %em 
    If you're ready to take the plunge and delete your Facebook account permanently, visit 
    this page in the Facebook Help Center: 
  %em
    %a{href: "http://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0CFwQFjAA&url=http%3A%2F%2Fwww.facebook.com%2Fhelp%2F%3Ffaq%3D224562897555674&ei=W6_kT5OfMIPQ2wWM4sHaCQ&usg=AFQjCNHnmOXrbJ_X6UQlwBxhJF_pqcJWcA&sig2=uj7vFV9q2_5TE6QTw8H9vA"}
      How do I permanently delete my account?


