---
kind: article
created_at: 2012-03-29 13:10:08 
title: You're not living and you're doing it wrong
draft: true
---

%p
  I use Twitter predominantly to keep up with my other tech-saavy friends and colleagues. One 
  trend I notice among this crowd is their (our?) continuing tendency to blog about The Next 
  Big Thing in technology, as if its mere conception will vastly improve the lives of its users. 
  We're not talking about a new cancer treatment, an anti-aging medication, an abundant energy source. 
  Nope, we're talking about some new app that plugs into your Twitters to make it talk to your Instagrams 
  and ensure your Facebooks are kept in sync. And goddamnit, I don't fucking care anymore.

%h4 Meta is misery
%p
  Technology is beautiful. It allows us to move at speeds unimaginable a century ago, communicate 
  with almost anyone the world over instantly, and cure or prevent once pandemic-scale diseases. Talking 
  about technology is healthy; it creates a diverse, useful community, without which we could not evolve
  our efforts. But I, like so many of my colleagues, have fallen to the plight of the Great Meta: Spending 
  time (your valuable, precious, short lifetime) encouraging and criticizing current technology trends in 
  an effort to be the coolest kid on the Internet. This practice is downright absurd, and should be banished 
  from the face of the Internet for the good of humanity. Create and use technology to enrich your life, 
  and let that be that. You're not making the world a better place by creating a new social network platform, 
  no matter how much that sweet VC money fools you into thinking so. 

